[2017-03-16 12:52] rickr opened #1 "Create a new user endpoint"
This end point should take:
* An email
* A zip code
* Type of user (veteran or mentor)

It should:
- [x] Validate the email address
- [x] Validate the email address doesn't exist
- [x] Validate the zip code is a number
- [ ] Validate the type of user is valid
- [ ] Geocode the user
- [x] Add the user to mail chimp
- [x] Add the user to slack
- [x] Send a welcome email

[2017-03-16 12:55] rickr opened #2 "Create Code Schools endpoint"
This endpoint should read a YAML config file and return a list of code schools in json

Use [this file](https://github.com/OperationCode/operationcode/blob/master/config/code_schools.yml) as the source.

[2017-03-16 12:58] rickr opened #3 "Create FAQ endpoint"
This endpoint should take a YAML config file and return a json response.

Use [this file](https://github.com/OperationCode/operationcode/blob/master/config/faqs.yml) as the source.

I'd like to see this moved back to the front end eventually.

[2017-03-16 13:09] rickr opened #4 "Github management"
- [ ] Create issue template
- [ ] Create PR template
- [ ] Create (and check in config) labels

[2017-03-16 13:12] rickr opened #5 "Deploy to rancher"

[2017-04-15 16:28] #2 closed

[2017-04-15 16:28] #5 closed

[2017-04-17 13:50] rickr opened #6 "Create an events endpoint"
This will be the first iteration of the endpoint. For now this will return entries from our local database only.

This API will show all events

To do this you should:
- [ ] Create a controller with a `#index` action
- [ ] Create a GET route to `/api/v1/events`
- [ ] Create a `Event` model (with validations)
- [ ] Create a migration

The table should have the follow columns:
* name - string
* desc

[2017-04-17 16:54] #4 closed

[2017-04-17 16:58] rickr opened #7 "Create A README"
This is a:

- [x] Feature request
- [ ] Bug report

# Features
## What is your new feature?
Update the README.

## What should your feature do?
The new doc should cover:
- [ ] What this repo is
- [ ] What technologies this repo is using
- [ ] How to create an issue
- [ ] How to contribute (including code style and PR guidelines)

[2017-04-17 19:45] rickr opened #8 "Create resource endpoint"
This is a:

- [x] Feature request
- [ ] Bug report

# Features
## What is your new feature?
Add a new `resources` endpoint.

## What should your feature do?
This endpoint should
- [ ] be sectioned into areas of interest or languages (eg ruby, frontend, backend, machine learning)
- [ ] have an index listing all available sections
- [ ] be able to return all sections

[2017-04-17 21:36] rickr opened #9 "Document Code Schools endpoint"
This is a:

- [x] Feature request
- [ ] Bug report

# Features
## What is your new feature?

Document the code schools endpoint.

## What should your feature do?

Document path, format, and options.

[2017-04-17 21:36] rickr opened #10 "Document the users endpoint"
This is a:

- [x] Feature request
- [ ] Bug report

# Features
## What is your new feature?

Document the users endpoint.

## What should your feature do?

Document path, format, and options.

[2017-04-22 19:30] aaron-suarez commented on #8
So let me see if I understand. The operationcode_backend repository is specifically for the api. Right now, it looks like we've got v1 of the api which includes status, users, and code_schools. You can only GET status, POST users, and GET code_schools.

From what I'm understanding, we need a GET resources/index which will return the available sections, then a GET resources/all which will return al

[2017-04-24 14:20] rickr opened #11 "Disable CORS"
This is a:

- [x] Feature request
- [ ] Bug report

# Features
## What is your new feature?
Disable COORS

## What should your feature do?
Since our API will be accessed by many different groups we need to disable CORS. Following this blog should do the trick: https://til.hashrocket.com/posts/4d7f12b213-rails-5-api-and-cors

[2017-04-24 16:15] rickr opened #12 "Get JWT working"

[2017-04-26 01:47] #11 closed

[2017-04-26 01:56] rickr commented on #8
I think we would have the following routes:

GET /resources - this either lists all resources or just contains links to all sub sections
GET /resources/:section - this lists all resources for this section, including how to get each one
GET /resources/:section/:id - A specific resource

[2017-04-28 14:49] krzemienski commented on #8
Something to note a resource can be up voted. It might help to look at the design of the app I am doing that will be calling this endpoint in order for the model to be in order. @aaron-suarez see the designs here:

https://drive.google.com/drive/folders/0B9jlP4wy3NmhNHlJM1F5VzlLekE?usp=sharing

Specifically the screen dealing resources is **Learn.png**

[2017-04-28 16:00] krzemienski commented on #8
Also in the future we will open the access for anyone to submit a resource so there needs to an endpoint for

POST /resources/submit

which means we need to have a

**submitted_by=user_id**

in the model.

[2017-04-29 20:11] aaron-suarez commented on #8
Ok so these are the routes then

GET /resources - this either lists all resources or just contains links to all sub sections
GET /resources/:section - this lists all resources for this section, including how to get each one
GET /resources/:section/:id - A specific resource
POST /resources/submit - Add a new resource to the data collection
POST /resources/vote/:section/:id - Up Vote a resource

Wil

[2017-05-07 17:35] rickr commented on #8
To keep track of votes resources will need to be stored in the DB.

The model should be called 'Resource'.

It should have the following columns:

`upvotes` - `int`
`url` - `string`
`description` - `text`
`title` - `string`
The standard rails `created_at` and `updated_at`
Whatever other fields you think are needed to display the material you currently have.

Instead of sections we can move to tags

[2017-05-07 18:17] #12 closed

[2017-05-10 13:02] rickr opened #15 "Allow user to set their own password"
# Feature
## What is your new feature?
User should be able to set their password

## What should your feature do?

[2017-05-10 13:04] #15 closed

[2017-05-10 14:30] leenyburger commented on #3
Is this thought process correct?
1.  Add the YML file to config folder
2. Create faq.rb class in lib folder.  Load the yml file in the initialize method.
3. Create an faq_controller in the v1 folder.  In the index method create the faq object and render json.
4. Create the "get" route in the routes file.  api/vi/faq

[2017-05-14 00:34] #1 closed

[2017-05-20 22:15] hpjaj opened #20 "Running `make setup` on initial repo setup throws error"
# Bug Report
## What is the current behavior?
When initially setting up this repo locally, the following error is generated when running the `make setup` command.

[code]

## What is the expected behavior?
According to the [Makefile](https://github.com/OperationCode/operationcode_backend/blob/master/Makefile#L42) a successful `db_create db_migrate`

## What steps did you take to get this behavior?

[2017-05-22 06:10] alexspence commented on #20
Problem is we need to build the docker containers before running make setup.
[code]

Works.

We can either document that this is the process, or add build to the `make setup` via Makefile

[2017-05-30 02:31] #20 closed

[2017-06-05 20:33] rickr opened #24 "Update code_schools.yml format"
# Feature
## What is your new feature?
Update the code_schools.yml and json output for the new frontend UI

## What should your feature do?
The json output should match the [new version](https://raw.githubusercontent.com/OperationCode/operationcode_frontend/code-schools-cooper-kyle/src/scenes/home/codeSchools/schools.json)

[2017-06-05 20:35] rickr commented on #24
This is blocking operationcode/operationcode_frontend#101

[2017-06-06 06:52] #24 closed

[2017-06-06 19:15] rickr opened #26 "Add has_online to code schools entries"
# Feature
## What is your new feature?
Add `has_online` key to the code_schools.yml.

## What should your feature do?
See https://raw.githubusercontent.com/OperationCode/operationcode_frontend/code-schools-cooper-kyle/src/scenes/home/codeSchools/schools.json for a head start on the values.

[2017-06-06 23:59] kylemh opened #28 "Create CDN to serve up codeSchool logos"
# Feature
## Why is this feature being added?
Currently, codeSchoolLogos are being served up by treating raw.githubusercontent.com endpoints as an API. There are rate limiters in place, and we'll likely get flagged for continuing to serve up those images in that manner.

## What should your feature do?
Hosting the images on the server while creating a CDN for them to accessed is likely the best wa

[2017-06-07 00:01] #26 closed

[2017-06-07 03:10] rickr opened #29 "Fix code schools page"
# Bug Report
## What is the current behavior?
500 when visiting codeschools URL

## What is the expected behavior?
List of code schools is displayed

## What steps did you take to get this behavior?
curl localhost:3000/api/v1/code_schools

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-07 03:11] rickr opened #30 "Add travis config"
# Feature
## Why is this feature being added?

To get to CI/CD

## What should your feature do?
Automate builds on merge

[2017-06-07 03:22] #30 closed

[2017-06-07 03:34] rickr opened #33 "Use webhooks for upgrading"
# Feature
## Why is this feature being added?

We don't need to use the rancher API to upgrade anymore

## What should your feature do?
Fix the makefile and travis config to upgrade via webhooks

[2017-06-07 16:01] leenyburger commented on #3
I'd like to take this one if about comments look good.

[2017-06-07 16:18] rickr commented on #29
Fixed in 8e6ea3ca6792c60fd055a71240559acb738e339a

[2017-06-07 16:18] #29 closed

[2017-06-08 00:27] rickr commented on #28
2 questions.

I think images belong in the frontend repo. Any objection to moving this ticket there?
Is there any reason we can't move the images to the same location the JS and HTML is being served from?

[2017-06-08 01:07] kylemh opened #36 "Manual data update in code_schools.yaml"
# Improvement
## Why is this improvement being suggested?
I noticed that Galvanize is missing some locations, there may be other code schools with new locations or other out-of-date details.

## What would your improvement do?
By updating `code_schools.yaml` with up-to-date information, we can ensure that our audience is receiving correct information.

------------------

**If you are looking for

[2017-06-08 16:36] rickr opened #37 "Alert community leaders when a new member joins in their area"
# Feature
## Why is this feature being added?

Community leaders have already become a vital part of Operation Code. They provide local support, connections and a friendly face near to our users. We should make it easier for our community leaders to know when a new member joins in their area.

## What should your feature do?
When a member joins check to see if there's a community leader within a c

[2017-06-08 17:41] rickr commented on #3
We've taken a different direction and are now storing our FAQs in a gitbook. That's being tracked in operationcode/documents#3 so I'm going to close this out.

[2017-06-08 17:41] #3 closed

[2017-06-09 21:24] rickr opened #38 "Create ID.me verification endpoint"
# Feature
## Why is this feature being added?

We need to support verifying users via ID.me

## What should your feature do?
Create an endpoint `/api/v1/users/profile/verify`
You will be passed one parameter `access_token`.
Take that parameter and GET the following URL to `https://api.id.me/api/public/v2/attributes.json ?access_token=ACCESS_TOKEN`
That should provide you with the following payload

[2017-06-12 00:37] rickr opened #39 "Raise an error if jwt secret is unavailable"
# Feature
## Why is this feature being added?

https://github.com/OperationCode/operationcode_backend/blob/master/app/lib/json_web_token.rb#L8
In order to make debugging easier if the secrets available in the above file are not available we should raise an error with a good error message

## What should your feature do?
Check for the jwt_secret token and raise an error if it doesn't exist.

[2017-06-13 00:20] rickr opened #40 "Pull all meetups from the meetup API"
# Feature
## Why is this feature being added?

1. Get all Operation Code meetup data from Meetup.com's API.
2. Filter the data and save to the database as events.  Event data will be set up in such a way to expand to other platforms (facebook)
   - Write migration to add source_id, source_updated, and group to existing Events table
   - Compare to existing data to ensure events aren't duplicated.

[2017-06-13 00:20] rickr opened #41 "Pull events from Airtables"
# Feature
## Why is this feature being added?

## What should your feature do?

[2017-06-13 00:21] rickr opened #42 "Pull events from LinkedIn?"
# Feature
## Why is this feature being added?

## What should your feature do?

[2017-06-13 00:25] rickr opened #43 "Allow results to be filtered by location"
# Feature
## Why is this feature being added?

## What should your feature do?

[2017-06-13 00:29] rickr opened #44 "Allow admins to create events"
# Feature
## Why is this feature being added?

## What should your feature do?

[2017-06-13 00:51] rickr opened #45 "Show only events with scholarships"
# Feature
## Why is this feature being added?

## What should your feature do?

[2017-06-13 11:28] hollomancer commented on #42
I see this as a very low-priority stretch goal, @rickr.

[2017-06-15 15:20] rickr opened #47 "Fix "validation_regex" issue in app/models/user.rb"
Insufficient validation for 'email' using /@/. Use \A and \z as anchors

https://codeclimate.com/github/OperationCode/operationcode_backend/app/models/user.rb#issue_59429d1c957fc9000100005f

[2017-06-15 15:21] rickr opened #48 "Fix "Rubocop/Lint/UselessAssignment" issue in app/controllers/api/v1/sessions_controller.rb"
Useless assignment to variable - `user`.

https://codeclimate.com/github/OperationCode/operationcode_backend/app/controllers/api/v1/sessions_controller.rb#issue_59429d20957fc90001000068

[2017-06-15 17:33] cameronhopkin commented on #47
/\A[\w+\-.]+@[a-z\d\-]+(\.[a-z\d\-]+)*\.[a-z]+\z/i

[2017-06-15 17:38] rickr commented on #47
We could probably go even simpler:
`\A.*@.*\z`

[2017-06-16 16:11] rickr opened #49 "Create an 'add_to_sendgrid' job"
# Feature
## Why is this feature being added?

To support operationcode/operationcode#751 we will need to create a new job that is called when a user joins. It should hit the following

## What should your feature do?
Add a new ActiveJob that adds a user to the sendgrid contactdb. The API endpoint you need is documented [here](https://sendgrid.com/docs/API_Reference/Web_API_v3/Marketing_Campaigns/

[2017-06-16 16:58] rickr opened #50 "Remove old mailchimp job"
# Feature
## Why is this feature being added?

Removes all mailchimp code/gems/mentions in support of operationcode/operationcode#751

## What should your feature do?
Remove the mailchimp job, gem, and method from the `User` model.

~This is blocked until #49 is competed, deployed, and confirmed.~

#49 has been verified. This is free to be worked.

[2017-06-16 17:44] rickr opened #51 "Convert to sendgrid API instead of SMTP"
# Feature
## Why is this feature being added?

We have white labeled IP addresses and can now use sendgrid's API to track our emails.

## What should your feature do?
~Integrate and convert this app to use [sendgrid-actionmailer](https://github.com/eddiezane/sendgrid-actionmailer)~
I think it'll be easier/simpler to add on to the new SendGridClient located in `app/lib/send_grid_client.rb`.

The tr

[2017-06-17 01:39] hollomancer commented on #42
Actually, LinkedIn doesn't have events.

[2017-06-17 01:39] #42 closed

[2017-06-17 21:58] hpjaj commented on #39
@rickr - I can take this one.

[2017-06-17 22:39] hpjaj commented on #48
@rickr - I can take this one.

[2017-06-18 13:19] hpjaj commented on #38
@rickr - I can take this one.

[2017-06-18 13:44] hollomancer commented on #38
All yours @hpjaj!

[2017-06-18 15:34] rickr opened #54 "Fix travisci build failures"
# Bug Report
## What is the current behavior?
All builds fail attempting to connect to psql

## What is the expected behavior?
Builds should pass

## What steps did you take to get this behavior?

[2017-06-19 13:57] #54 closed

[2017-06-19 14:18] #6 closed

[2017-06-19 15:10] rickr opened #58 "Change from Factory Girl to fixtures"
# Feature
## Why is this feature being added?

Factory girl is very slow. While we don't have too many features I'd like to switch over to fixtures

## What should your feature do?
Replace all factories with features, make all tests pass.

[2017-06-19 15:16] rickr opened #59 "Add sentry"

[2017-06-19 15:24] JYoung217 opened #60 "Add Code Platoon as a"
# Feature
## Why is this feature being added?

## What should your feature do?

---

# Bug Report
## What is the current behavior?

## What is the expected behavior?

## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-06-19 15:25] rickr opened #61 "Run migrations on container start"
# Feature
## Why is this feature being added?

Migrations currently have to be run manually once they hit production.

## What should your feature do?
Create a script that will do any startup related tasks (eg rails db:migrate).
It should end with `bundle exec puma -C config/puma.rb`

[2017-06-19 15:27] JYoung217 opened #62 "Add Code Platoon as a "Partnered School""
I'm going to add [Code Platoon, NFP](https://www.codeplatoon.org), as a "Partnered School" with Operation Code. My boss talked with @hollomancer and he said to open up a PR with our changes.

[2017-06-19 15:27] #60 closed

[2017-06-19 15:54] JYoung217 commented on #62
@kylemh I just submitted a PR for this - can you review?

[2017-06-19 16:02] JYoung217 opened #65 "Fix Dev Bootcamp address"
Dev Bootcamp Chicago recently moved from the address in the `code_schools.yml` file to a new [address](https://devbootcamp.com/locations/chicago):

1033 W. Van Buren Street, 3rd Fl
Chicago, IL 60607

[2017-06-19 16:08] #59 closed

[2017-06-19 21:32] #65 closed

[2017-06-19 22:56] #48 closed

[2017-06-20 01:34] kirbygit commented on #61
Is this related to heroku threads? or Procfile if thats the case I can have this issue. Let me know if this is the Procfile and puma.rb

[2017-06-20 03:38] rickr commented on #61
No - this will be a little shell script that's run as Docker's start script.

[2017-06-20 03:42] #39 closed

[2017-06-20 03:45] kirbygit commented on #61
ok

[2017-06-21 02:57] hpjaj commented on #38
@rickr - In the workflow laid out in this PR's description it says that the payload returned from id.me looks like this

[code]
and

As such, we would be:

1. Creating a `boolean` attribute on `User` of `verified`
2. Setting this user's `verified` attribute to `true` if verified

Our db `user_id` is not provided in this payload, nor in the original request to the new endpoint.  **Where is the `use

[2017-06-21 04:05] rickr commented on #38
Hey Harry - great question. Sorry it isn't clarified a little bit more in the original ticket. This verification process does require a user to be signed up and signed in.

The JWT auth stuff should be all wired up with devise so you should be able to use the standard `current_user` devise tricks.

If not this is the gist of what's happening. The JWT being passed back to the API server on every re

[2017-06-21 04:10] hpjaj commented on #38
@rickr - That makes sense.  Thanks for the fantastic explanation!

[2017-06-23 02:53] alexspence commented on #9
What do we think about hosting a Swagger UI for the opcode API?

[2017-06-23 12:47] hollomancer commented on #9
I like the idea of using Swagger, or maybe Apiary.

[2017-06-25 17:29] lennonc commented on #36
I'm a first time contributor and I'd like to grab this. What's the protocol for that?

[2017-06-25 19:00] kylemh commented on #36
@lennonc

Firstly, thank you for wanting to pick up this task!

You can start by examining the current `code_schools.yaml` file under `config/` at the top level of the repository ([located here](https://github.com/OperationCode/operationcode_backend/blob/master/config/code_schools.yml)).

Instructions for relevant data is commented within the first few lines of `code_schools.yaml`

### Instruction

[2017-06-26 22:27] Cooperbuilt opened #71 "Add a /team endpoint"
# Add a /team endpoint
## What will this feature do?
Provide a data source for the front end to serve the name / role of all team members

[2017-06-26 22:43] Cooperbuilt commented on #71
team.json
[code]
the yaml
[code]

[2017-06-28 23:47] #47 closed

[2017-06-29 01:48] hpjaj commented on #71
@rickr - I can take this one

[2017-06-29 15:57] #38 closed

[2017-06-29 21:57] kylemh commented on #71
@hpjaj it's all you!

[2017-06-30 18:53] hpjaj commented on #8
@rickr @alexspence @kylemh - I can take this one

[2017-06-30 18:55] #44 closed

[2017-06-30 18:55] aaron-suarez commented on #8
@hpjaj I'm fine with that.. I wish I had more time to devote to working these open source projects. Anyway, feel free to use my code in the PR as a starting point

[2017-06-30 18:57] leenyburger commented on #44
Closed per discussion regarding events.  Working plan is to not allow administrators to create events via the operation code website.  Primary event platform will be meet up.  Events will be pulled from meetup and displayed on the operation code website.

[2017-06-30 18:59] hpjaj commented on #8
@aaron-suarez - Ah, apologies, I did not realize you had already started a PR for this.  I'm happy to find another issue if you'd like to continue on with this one?

[2017-06-30 19:15] aaron-suarez commented on #8
@hpjaj I'd like it to get done, and I don't see myself honestly doing it in a reasonable time frame. I mean, look at the dates, it's been two months since I've worked on it.

[Here's the link](https://github.com/aaron-suarez/operationcode_backend/tree/create-resources-endpoint) to my branch for it. I'm not sure at the moment if there's any uncommitted changes I have locally. If there is, I'll comm

[2017-06-30 19:29] hpjaj commented on #8
@aaron-suarez - Sounds good!

[2017-06-30 23:36] #71 closed

[2017-07-01 14:31] hpjaj commented on #8
@rickr @hollomancer @alexspence @jjhampton @kylemh - Do we want backend restrictions preventing a user from up voting a resource more than one time, as @aaron-suarez described here:

[2017-07-02 20:07] hollomancer commented on #9
We have Apiary accounts available for those willing to document.

[2017-07-02 20:07] hollomancer commented on #10
We have Apiary accounts available for those willing to document.

[2017-07-04 21:29] hpjaj commented on #36
@kylemh - I'm thinking here we'd want to:

- create a new `CodeSchool` db table
- [CRUD](https://en.wikipedia.org/wiki/Create,_read,_update_and_delete) API endpoints for `CodeSchool` records
- `rake` task that creates a `CodeSchool` record for each entry in `code_schools.yml`
- wiring up the existing `:index` endpoint to fetch `CodeSchool` db records
- test coverage for new endpoints
- update our

[2017-07-04 21:39] kylemh commented on #28
We decided to pull images from source public files on the front-end.

[2017-07-04 21:39] #28 closed

[2017-07-04 21:46] kylemh opened #76 "Convert current code_schools endpoint generation to a more extendible architecture"
# Improvement
## Why is this improvement being suggested?
I noticed that Galvanize is missing some locations, there may be other code schools with new locations or other out-of-date details. There also have been a few code school representatives that want to add their school to our site, but have to deal with manually updating `code_schools.yaml`. Let's implement CRUD functionality by offering an

[2017-07-04 21:46] kylemh commented on #76
If this issue is completed before #24 - close that issue.

[2017-07-08 17:48] codedoll opened #77 "POST request on join page"
# Bug Report
## What is the current behavior?
After completing the sign-up form on https://www.operationcode.org/join, the POST request does not go through.
## What is the expected behavior?
The page should redirect to a different page and the user should receive a welcome email.
## What steps did you take to get this behavior?

## Additional Info
### Operating System

### Browser

### Screenshots

[2017-07-09 12:30] hollomancer opened #78 "Ability to pull membership numbers by zip & total"
# Feature
## Why is this feature being added?
I'd like to be able to query our database to know exactly how many users we have, and what locations we have the most members in. This also enables us to do some interesting visualizations in the frontend.

The intent here is to be able to query from the frontend, or even from Slack, how many folks we have from a given state or region.
## What should y

[2017-07-09 13:45] hollomancer opened #79 "API endpoint for aggregated open source contribution statistics"
# Feature
## Why is this feature being added?
We need to better demonstrate the impact that our organization has on the open source community. I would like to see a page showing our members on Github, what they have created, and how the Operation Code organization has enabled that.
## What should your feature do?
MVP: Use Github's API to retrieve statistics on contributions to /OperationCode/foo r

[2017-07-09 13:46] hollomancer commented on #79
I believe hood.ie may have already done some interesting work on this that we can purpose.

[2017-07-09 14:12] hpjaj commented on #78
@rickr - I can take this one.

[2017-07-09 14:16] rickr commented on #78
https://github.com/alexreisner/geocoder#for-activerecord-models should get you pointed in the right direction.

[2017-07-10 13:54] leenyburger commented on #40
Structure for expansion to include other apis:
@events_meetupdata = data from meet up_api
@events_facebookdata = data from Facebook_api
@events_all = combines the two variables above and output in JSON format for front end to display.

[2017-07-12 22:39] Hiren-Mehta opened #81 "Broken links to fragments in the table of contents and quickstart sections of the contribution guide"
# Bug Report
## What is the current behavior?
There are certain broken links to fragments such as 'Submitting your changes', 'Working on your issue' in the table of contents and quickstart sections of the contribution guide. At present those links don't take the user to the corresponding fragment.

## What is the expected behavior?
The links should point to the correct fragment.

## What steps did

[2017-07-12 22:49] Hiren-Mehta opened #82 "Better link for installing Docker on Ubuntu in the contribution guide"
# Feature
## Why is this feature being added?
At present we are linking to a third-party website for those who wish to install Docker on Ubuntu. Docker already provides downloads (in both CE and EE) for Ubuntu systems. We should be linking to that instead, just like how we do for Mac and Windows systems.

## What should your feature do?

[2017-07-12 23:03] Hiren-Mehta opened #83 "Instructions given in the contribution guide for Docker on Windows don't work for those using Docker Toolbox"
# Feature
## Why is this feature being added?
The instructions currently given in the contribution guide are meant for those using the Docker for Windows app. They are not applicable to those using Docker Toolbox (which would be needed for those who don't have the Professional/Enterprise edition of Windows 10 or even have an earlier version of Windows).
## What should your feature do?
1. A mention

[2017-07-13 21:20] #8 closed

[2017-07-13 21:23] #81 closed

[2017-07-14 15:53] hollomancer opened #87 "Create job to merge Meetup user data into Postgres"
# Feature
## Why is this feature being added?
@rickr, we have a lot of data in Meetup that should be synced up with our regular user database, regarding members that go to our regular meetups, chapters and rate of growth, etc.

## What should your feature do?

[2017-07-14 17:22] #78 closed

[2017-07-14 21:17] #82 closed

[2017-07-14 21:20] rickr opened #88 "Create user profile models and attributes"
# Feature
## Why is this feature being added?

See operationcode/operationcode_frontend#265 for background.

## What should your feature do?
Add the models/columns listed in the following document:
https://docs.google.com/document/d/1NET6RmBiCgc2IUJvjYRzdykjcwAMG-859ShsOhMmVqU/edit#

[2017-07-14 21:49] #49 closed

[2017-07-15 01:23] #83 closed

[2017-07-16 21:42] rickr opened #91 "Implement SSO for discourse"
# Feature
## Why is this feature being added?

In order to provide a seamless UX between oc.org and discourse we need to implement SSO for discourse.

## What should your feature do?
We should send all info needed for SSO discourse into the JWT.

These links should help:
https://meta.discourse.org/t/official-single-sign-on-for-discourse/13045
https://stackoverflow.com/questions/25478510/incorporat

[2017-07-18 15:29] #50 closed

[2017-07-18 19:36] hollomancer opened #93 "Add Coder Camps to site"
https://www.codercamps.com/

[2017-07-18 19:45] kylemh commented on #93
This issue has been marked "beginner friendly"!

To accomplish this task, just follow this simple process (assuming you have git installed):

1. [Fork this repository](https://help.github.com/articles/fork-a-repo/)

2. [Clone your forked copy of the repository](https://help.github.com/articles/cloning-a-repository/)

3. Open the project on your machine, and go to `config/code_schools.yaml` [(here)

[2017-07-18 21:02] kylemh opened #95 "Add some commonly ignored filetypes to .gitignore"
# Feature
## Why is this feature being added?
Solid .gitignore files that prevent all, but the most necessary files into the repository are healthy for any project.

## What should your feature do?
Block `.DS_Store` and common IDE/Editor filetypes.

[2017-07-18 21:42] #93 closed

[2017-07-19 00:54] #95 closed

[2017-07-19 02:10] rickr opened #97 "Convert deploy script to k8s"
# Feature
## Why is this feature being added?

We've moved to k8s so our rancher deploy script no longer works breaking CI

## What should your feature do?
Change the deploy script to do a rolling update.

[2017-07-19 03:13] sethbergman commented on #77
Are you doing doing any CORS? Also, content type should be application/json for the request.

[2017-07-19 04:05] #97 closed

[2017-07-19 14:33] rickr commented on #77
This was a bug on the frontend and was fixed in operationcode/operationcode_frontend#228

[2017-07-19 14:33] #77 closed

[2017-07-19 21:15] kylemh opened #99 "Remove RefactorU from code_schools.yaml"
# Feature
## Why is this feature being added?
According to [this](https://www.coursereport.com/reports/2017-coding-bootcamp-market-size-research), RefactorU has shut down.

## What should your feature do?
Remove RefactorU from the code_schools.yaml file so our API does not serve it up to be rendered as a potential code school for veterans to use.

[2017-07-19 22:34] rickr commented on #99
I'd like to see at least one more source before we accomplish this.

[2017-07-19 23:05] rickr opened #100 "Create slack self serve inviter"
# Feature
## Why is this feature being added?

Once discourse is up and running we can open up slack to be a self serve invite.

## What should your feature do?
Create a new page `/slack` where a user can invite themselves to the slack team. This page should be protected. The user's email address is available in the JWT.

Stretch goal: It would be cool to show how many users are in slack on the pa

[2017-07-19 23:07] rickr commented on #100
Wrong repo - this is tracked in operationcode/operationcode_frontend#304

[2017-07-19 23:07] #100 closed

[2017-07-20 14:00] rickr opened #102 "Expose slack inviter job via API"
# Feature
## Why is this feature being added?

In order to support operationcode/operationcode_frontend#304 we should expose the slack inviter job via API.

## What should your feature do?

Add a new endpoint that when called invites the user to slack. This should be a POST request named something like `users/invite_to_slack`. It should require authorization. It should take the `current_user` and

[2017-07-20 14:22] sethbergman commented on #102
What are the parameters being passed to the API? The current implementation for my slack invite is just a nice landing page form where the user enters their email and get's an automatic invite to the channel. I can tweak the form to have the required inputs, or just go with the POST request.
I was kind of thinking that after they sign up through the already working form component, then they are re

[2017-07-20 14:49] rickr opened #103 "Viewing users by location while authenticated does not work"
# Bug Report
## What is the current behavior?
Viewing the path `/api/v1/users/by_location?zip=11772` while logged in and the JWT token is active does not show the results.

## What is the expected behavior?
It should show the results. For now we can remove the requirement for authentication for this endpont.

## What steps did you take to get this behavior?
Log into the frontend (or generate a val

[2017-07-20 15:04] rickr opened #104 "Add state param to users/by_location"
# Feature
## Why is this feature being added?

We should be able to get a count of users in a specific state. Right now it looks like all searches are done by a radius from a point.

## What should your feature do?
Add a new param to the `users/by_location` action called `state`. It should perform a query on the users table and return a count of the users in a particular state.
Make sure to update

[2017-07-20 15:08] rickr opened #105 "Save user's state"
# Feature
## Why is this feature being added?

When a user signs up they give their zip. We need to be able to query the number of users in a state.

## What should your feature do?
Add a new attribute to the `User` model called `state`.
Extend the `before_save` filter to save the user's state into the new attribute.
It should be stored in the 2 letter format

This should also include a rake task

[2017-07-20 15:40] rickr commented on #102
No params needed. When a user makes a request their JWT is passed in and we authenticate the user giving us access to the `User` object.

After login users will be redirected to discourse as per operationcode/operationcode_frontend#308. We'll put some effort in other areas (discourse topics, welcome mailer, links in the profile) to make users aware of slack.

[2017-07-20 21:59] kylemh opened #106 "Remove The Iron Yard from code_schools.yaml"
# Feature
## Why is this feature being added?
According to [this](https://www.theironyard.com/), The Iron Yard has shut down.

## What should your feature do?
Remove The Iron Yard from the code_schools.yaml file so our API does not serve it up to be rendered as a potential code school for veterans to use.

[2017-07-20 22:03] kylemh opened #107 "Remove Dev Bootcamp from code_schools.yaml"
# Feature
## Why is this feature being added?
According to [this](http://www.huffingtonpost.com/entry/early-coding-school-dev-bootcamp-shuts-down-what_us_5967ae75e4b09e26b6d7662a), Dev Bootcamp has shut down.

## What should your feature do?
Remove Dev Bootcamp from the code_schools.yaml file so our API does not serve it up to be rendered as a potential code school for veterans to use.

[2017-07-20 22:05] kylemh commented on #36
This is blocked by #99 #106 and #107

[2017-07-21 12:49] #105 closed

[2017-07-22 02:11] #91 closed

[2017-07-22 02:13] #103 closed

[2017-07-22 02:17] #102 closed

[2017-07-22 16:22] hpjaj commented on #88
@davidmolina @rickr @hollomancer - Can you answer the questions, and provide feedback, on my interpretation of this feature's goals.  It covers what models and attributes are being created:

https://hackmd.io/EYVhGMGYDYE5ILSQCzMcgJpADAghpCLgOwE7YBM4AHNRbEA=?both

It is essentially a checklist of acceptance criteria.  Feel free to make edits in the file itself.

[2017-07-22 16:32] hollomancer commented on #88
@hpjaj, added a couple fields.

[2017-07-22 16:37] hpjaj commented on #88
@hollomancer - are you able to answer any of the questions, or shall we leave those for @rickr @davidmolina

[2017-07-22 17:02] hollomancer commented on #88
Added some comments, @rickr will need to weigh in on the rest.

[2017-07-23 13:18] #51 closed

[2017-07-23 13:19] #104 closed

[2017-07-23 13:44] rickr opened #112 "Allow case insensitive search for states in users/by_location"
# Feature
## Why is this feature being added?

States are always stored in the DB as uppercase but our current search is case sensitive.

## What should your feature do?
Allow the endpoint /api/v1/users/by_location to accept states case if they're passed in uppercase or lowercase.

The following queries should return the same number of users.
/api/v1/users/by_location?state=NY
/api/v1/users/by_loc

[2017-07-23 15:07] rickr opened #113 "Add password reset endpoint"
# Feature
## Why is this feature being added?

Users need to be able to reset their password.

## What should your feature do?
Add a new `/users/reset_password`.
It should take an email address, find the user in the DB and send them a password reset token.

Reference:
http://www.rubydoc.info/github/plataformatec/devise/master/Devise/Models/Recoverable

[2017-07-23 17:05] hollomancer commented on #88
@rickr, I'm wondering if we might need some intermediate states here;
- Slack users who we have web signup information for
- Users who never logged into Slack
- Meetup members (we have another 2k entries there that need to be reconciled)

[2017-07-23 17:41] rickr commented on #88
With the advent of [this doc](https://github.com/OperationCode/documents/pull/6/files) lets reduce the scope of this to just attributes on the user model. I'd like to do some work to map out what's outlined in the doc to the correct models.

[2017-07-23 21:41] hpjaj commented on #88
@rickr @hollomancer - is this all for now:

[code]

[2017-07-23 22:55] #113 closed

[2017-07-23 23:14] rickr commented on #33
OBE (k8s migration)

[2017-07-23 23:14] #33 closed

[2017-07-23 23:16] rickr commented on #10
http://docs.operationcodeapi.apiary.io/#

[2017-07-23 23:16] #10 closed

[2017-07-23 23:29] hollomancer opened #116 "New users that are validated with id.me are put on a separate Sendgrid list"
# Feature
## Why is this feature being added?
I want to ensure our scholarship emails are only going to validated members of the military community.

## What should your feature do?
New users validated with id.me are put on a separate Sendgrid contact list.

[2017-07-24 02:11] rickr opened #117 "If a user is a mentor add them to the mentors group in discourse"
# Feature
## Why is this feature being added?

If a user signs up as a mentor we can automatically add them to the mentors list in discourse, giving them special permissions and a title.

## What should your feature do?
Modify the SSO payload to check if a user is a mentor.
If they are add `add_groups: mentors` to the payload.
Ref: https://meta.discourse.org/t/official-single-sign-on-for-discourse

[2017-07-24 23:53] rickr opened #118 "Emails should be downcased before saving"
# Feature
## Why is this feature being added?

Emails should be stored in all lowercase in the database.

## What should your feature do?
Add a `before_save` filter to downcase email addresses on the `User` model.

[2017-07-25 16:35] rickr commented on #88
That's a good start for now I think.

Some of these might need to be broken out into additional models (we might want to list multiple education sources for example) but I think we can migrate when we need to.

[2017-07-26 12:58] #88 closed

[2017-07-26 15:55] rickr opened #120 "Create flash notification system"
# Feature
## Why is this feature being added?

When a user takes an action like resetting their password we should have a system in place to consistently notify them the action was successful.

## What should your feature do?
Add a flash message notification system.

Please discuss possible options for moving forward in the ticket before starting work.

[2017-07-26 15:56] rickr commented on #120
One possible solution, although it requires redux.
https://github.com/posabsolute/redux-flash-notification

[2017-07-31 15:09] rickr opened #121 "Add Rithm School to code_schools.yml"
# Feature
## Why is this feature being added?

name: Rithm School
  url: rithmschool.com?utm_source=OperationCode&utm_medium=logo&utm_campaign=root
  logo: [SEE ATTACHMENT]
  full_time: true
  hardware_included: false
  has_online: false
  online_only: false
  locations:
    - va_accepted: false
      address1: 3338 17th St.
      address2: #100
      city: San Francisco
      state: CA
      zip:

[2017-07-31 19:49] #112 closed

[2017-08-02 00:02] rickr opened #122 "Create scholarship models"
# Feature
## Why is this feature being added?

See operationcode/operationcode_frontend#357 for some more background.

## What should your feature do?
Add a new scholarship model.
It should follow the pattern of this form: https://airtable.com/shroOCkoOu7vOXuyN

Scholarships should have the following attributes:
name - string
description - text
location - string
terms - text
start_date - datetime

[2017-08-02 13:01] togakangaroo opened #123 "Password reset email should say "Operation Code" somewhere in the subject/From"
Reset the password for your Operation Code portal. You get an email that doesn't actually mention "Operation Code" anywhere. It should at a minimum mention Operation Code in the Subject or From fields so that it doesn't look like spam in your inbox (for example the from can be `Operation Code <staff@operationcode.org>`)

[2017-08-02 18:52] jmayergit commented on #122
what do you mean by delegated to user?

[2017-08-02 20:56] rickr commented on #122
This might help: https://apidock.com/rails/Module/delegate

[2017-08-03 01:41] hpjaj commented on #79
@hollomancer @rickr - Here are the results of some brainstorming on types of stats that one might want.  We would not be doing all of these, of course, but can you take a look and narrow down what **specifically** you are looking for in this issue?

#### Contributions to OC

- Per repo
  - Across all users
    - Number of pull requests
    - Number of commits
      - Number of commits on a given d

[2017-08-05 14:47] hollomancer commented on #79
This is all good stuff - we should get a sense of what's easiest to derive quickly as an MVP.

[2017-08-05 23:54] rickr opened #126 "Discourse SSO for an existing operation code session results in a 500"
_From @rickr on August 5, 2017 2:28_

# Bug Report
## What is the current behavior?
Logging into discourse with an existing opcode session results in a 500 due to a bad signature

## What is the expected behavior?
Logging into discourse should work with an existing OC session

## What steps did you take to get this behavior?
Make sure you're logged out of discourse
Log into operationcode.org
Go to

[2017-08-06 10:58] rickr opened #127 "Correct URL to Udacity on the Code Schools page (under MOOCs)"
_From @Hiren-Mehta on August 6, 2017 10:26_

# Bug Report
## What is the current behavior?
Upon clicking the link to Udacity at https://www.operationcode.org/code_schools , the browser displays a warning because of the URL mismatch in the SSL certificate.
## What is the expected behavior?
The browser should take the visitor to the Udacity homepage. We can correct the URL in the scene for this page

[2017-08-06 10:58] rickr commented on #127
The correct URL is www.udacity.com. It's currently udacity.org.

[2017-08-06 11:00] rickr commented on #126
This ended up being a problem on the frontend. Fixed back in OperationCode/operationcode_frontend#370

[2017-08-06 11:00] #126 closed

[2017-08-06 11:23] rickr commented on #127
These values are hardcoded in the frontend so it belongs back there.

[2017-08-06 11:23] #127 closed

[2017-08-06 16:38] sethbergman opened #128 "SLACK_SUBDOMAIN not set"
# Bug Report
## What is the current behavior?
When standing up the backend, redis reports that the `SLACK_SUBDOMAIN` is not set.
## What is the expected behavior?
When standing up the backend, redis should not have this error.
## What steps did you take to get this behavior?
Make sure you don't have a backend server running.
Clone the frontend repo.
Run
`yarn run backend`
in another terminal tab:

[2017-08-06 16:52] sethbergman opened #130 "Add team members to db seeds"
# Bug Report
When running the backend locally, the staff are not being rendered on the team page.

## What is the expected behavior?
Staff / Volunteers are displayed

[2017-08-06 17:18] rickr commented on #128
Can you provide the stacktrace?

[2017-08-06 17:19] rickr commented on #130
Since we used a rake task to populate production I think the easiest way to resolve this is to create some entries in `seeds.rb`.

[2017-08-06 17:24] sethbergman commented on #128
You can see the stacktrace by running the following:
`yarn`
`yarn run backend`
`yarn start` in another tab, same directory

Then look at the tab you ran `yarn run backend`

I've already updated my local env so I can't at the moment.

[2017-08-06 17:30] sethbergman commented on #128
https://github.com/OperationCode/operationcode_backend/blob/master/run/secrets/slack_subdomain

[2017-08-06 17:31] sethbergman commented on #128
https://github.com/OperationCode/operationcode_backend/pull/129/files

[2017-08-06 17:39] rickr commented on #128
The value doesn't matter and I'd prefer to not use a production value if able as that could lead to people in dev affecting prod. I think this would probably be a change to the Dockerfile but we'll need to see a stack trace to be sure.

I've also updated the steps to rep a bit as we don't have yarn on the backend.

[2017-08-06 17:42] sethbergman commented on #128
Ok yeah just keep in mind this is all happening locally. I'm just reporting so that we can have dev / prod parity. If the value is not important, then you can go ahead and close this PR.

[2017-08-06 18:11] sethbergman commented on #128
I've updated the replication steps. It must be run on the frontend.

[2017-08-06 21:26] rickr opened #133 "Support for multi step profiles"

[2017-08-06 21:33] Cooperbuilt commented on #133
## Fields (all take strings unless specified)
identifier, workInfo, company, role, interests (takes an array), branch, militaryStatus, schoolInfo, schoolLevel

[2017-08-09 13:27] sabrown84 commented on #118
Hi I'd like to try this one out. Is there any additional information that you think I will need? I noticed that in the user model has two validations for emails should I look to add a validation for this lowercase feature as well?

[2017-08-09 13:35] ianroberts131 commented on #118
I've actually been trying to get this setup, but having some issues getting my tests to run. Looks like @sabrown84 is going to take this 1, but I'd love to help on other issues so would still like to resolve the problems I'm having with the tests.

When I run `rake test`, I get the following error:

[code]

When I `bundle install`, I then get the following:

[code]

Any ideas? Thanks for your help

[2017-08-09 14:20] ianroberts131 commented on #107
Happy to help out on this. Still trying to get everything set up locally - should be able to submit a PR later this week though.

[2017-08-09 14:21] sabrown84 commented on #118
Ok @ianroberts131 I haven't started setting it up I was just starting to think it through before jumping in. I may run into the same error...

[2017-08-09 14:55] hpjaj commented on #118
@ianroberts131 - You can run the tests through [Docker](https://www.docker.com/).  Try this:

1. Start Docker
2. run `make setup`
3. run `make test`

[2017-08-10 13:13] #122 closed

[2017-08-11 23:45] ianroberts131 commented on #118
Thanks @hpjaj, that got me going in the right direction. Unfortunately, the version of Make installed [here](http://gnuwin32.sourceforge.net/packages/make.htm), per the `CONTRIBUTING.MD` file, is one version before a bug I was facing got fixed. Here's the error message I was getting:

[code]

Ultimately was able to get it working by running make via MinGW, like so:

[code]

Anyway, this isn't real

[2017-08-13 21:05] sabrown84 commented on #118
Thank you @ianroberts131 and @hpjaj. I thought I would have a similar problem, but I didn't.

[2017-08-14 00:42] hpjaj commented on #118
np.  Feel free to ping me if you need a hand with anything!  If you're on the OC Slack channel, my handle is @harry

[2017-08-14 11:27] #107 closed

[2017-08-14 11:40] #99 closed

[2017-08-14 11:40] #106 closed

[2017-08-14 13:32] Hiren-Mehta opened #140 "Correct the spelling for 'distributions' in the contribution guide"
# Bug Report
## What is the current behavior?
The word 'distributions' is misspelt in the contribution guide
## What is the expected behavior?
It should be spelt properly.
## What steps did you take to get this behavior?
Read the contribution guide at https://github.com/OperationCode/operationcode_backend/blob/master/CONTRIBUTING.md#make-for-windows-only.
## Additional Info
### Operating System

#

[2017-08-15 05:54] #140 closed

[2017-08-18 19:44] jmayergit opened #144 "Add Scholarship[&Applications] controllers/routes"
# Feature
Adds Scholarship and ScholarshipApplications endpoints to API
## Why is this feature being added?
Backend support for the scholarship application flow

## What should your feature do?
Accept incoming GET requests for /scholarships & /scholarships/:id
Accept incoming POST requests for /scholarship_applications

[2017-08-20 02:20] #133 closed

[2017-08-20 22:50] PSkaggs commented on #121
I can do this.
Is there any opposition to alphabetizing the code_schools.yml file too?

[2017-08-20 22:52] PSkaggs commented on #123
I can do this.

[2017-08-20 22:55] PSkaggs commented on #120
Are **all** of the front end requests accessed through the API?  If so this seems like a front end implementation.

[2017-08-21 16:47] sethbergman commented on #130
What's the status on this? Is this something that can be done with some clear instructions? I'd love to see my name on the list, and I'd be happy to tackle this with some direction.

[2017-08-21 16:50] sethbergman commented on #118
What about tackling this from the frontend? I think it would be easy to accomplish.

[2017-08-21 19:17] hpjaj commented on #118
@sethbergman - I can't hurt to have a layer of validation on the frontend, but IMO we should have backstopped data integrity insurance in the backend.

@sabrown84 - In case you're interested, here's a [similar implementation](https://github.com/OperationCode/operationcode_backend/blob/master/app/models/user.rb#L103-L105) in the backend.

[2017-08-21 19:50] sabrown84 commented on #118
@hpjaj thank you yes I did see that and I used that, I'm just having trouble with creating a test and getting it to pass that test. I'm really close though.

[2017-08-21 20:16] kylemh commented on #118
@sethbergman I'll make a ticket. We should do both.

[2017-08-22 12:01] rickr commented on #123
@PSkaggs - all yours!

[2017-08-22 12:02] rickr commented on #120
You are correct - this got filed in the wrong repo. Moving it now.

[2017-08-22 12:03] rickr commented on #120
This issue was moved to OperationCode/operationcode_frontend#425

[2017-08-22 12:03] #120 closed

[2017-08-24 13:15] sabrown84 commented on #130
Is this one still open? @sethbergman I'd like to try this one did  you get any instructions?

[2017-08-24 13:23] sabrown84 commented on #43
I'd like to try this one. Are there any information or instructions? @rickr

[2017-08-24 14:33] hpjaj commented on #130
@sabrown84 - To get you rolling, here are the two files that are being discussed:

- [seeds.rb](https://github.com/OperationCode/operationcode_backend/blob/master/db/seeds.rb)
- [team_member.rake](https://github.com/OperationCode/operationcode_backend/blob/master/lib/tasks/team_member.rake)

Ping me if you have any questions!

[2017-08-25 18:37] hollomancer opened #150 "Add Jobs endpoint"
# Feature
## Why is this feature being added?
Consolidate job resources behind our API by origin, so we can appropriately track who is applying for what category of job, the origin for each job, etc.

## What should your feature do?
Rough schema
* Job
 * Referral Origin
 * Job Title
 * Company
 * Description
 * Link to Role
 * Tags
 * Date Posted
 * Date Updated

[2017-08-25 18:37] hollomancer opened #151 "Connect Jobs endpoint to ZipRecruiter API"
# Feature
## Why is this feature being added?
Ziprecruiter provides us a source of jobs that we can distribute to our community, with a fifty-percent CPC rev share.

## What should your feature do?
We should query their API to populate our job database periodically.
* Contact @hollomancer for API key
* Gem is available at https://github.com/cloudspace/zip_recruiter

| Jobs Field | Ziprecruiter Fie

[2017-08-25 19:06] sethbergman commented on #150
I think that this sounds perfect for the jobs repo. However we'd still need to have the endpoint for the database. I'm leaning towards using graphQL in that repo. I'd like to define the schema on the front end, validate then POST. Is it possible to make the backend accept schemas without knowing all of the needed constructs? Maybe an empty list with slots available for data. I have no idea how to

[2017-08-25 20:24] hollomancer commented on #150
I'll defer to @rickr on his recommendations here. It will be important to associate individual users with jobs applied for, jobs clicked, etc.

[2017-08-27 22:57] PSkaggs commented on #61
I can do this.

[2017-08-28 12:46] #123 closed

[2017-08-28 16:11] #144 closed

[2017-08-30 04:22] coloradojay commented on #130
Any movement on this issue? If not, I'd love to get it going.

[2017-08-30 13:23] sabrown84 commented on #130
Hi @coloradojay,

Sorry I had some stuff come up. I haven't made much head way. I am happy to pass the torch to you on this one. Enjoy.

[2017-09-03 17:29] jjhampton opened #155 "Mentor Requests Are Not Populating to Airtable"
# Bug Report
## What is the current behavior?
Submitting the Mentor Request form from front-end at https://operationcode.org/mentor-request doesn't populate the Airtable with the request via the back-end API.

## What is the expected behavior?
It should submit the mentorship request form and populate the request to the [Airtable Mentor Request form ](https://airtable.com/tbl9uQEE8VeMdNCey/viwILQ8i

[2017-09-04 16:53] hpjaj commented on #155
@rickr @jjhampton - I don't see anywhere in the back or frontend repos where we are making a call to [Airtable's API](https://airtable.com/appSqQz7spgg0I1jQ/api/docs#curl/introduction).

I do see that in the former OperationCode repo, the ['operationcode-airtable' gem](https://github.com/OperationCode/operationcode/blob/master/old_site/Gemfile#L10) is being used.

As such:

- is there a current pr

[2017-09-04 17:16] jjhampton commented on #155
Thanks for looking into this, @hpjaj .

* re: 'is there a current process for the airtable request form linking back to our current site? if yes, what is it?' - Not that I'm aware of.  Sounds like the integration w/ the Airtable API  might have not been built in as a feature while the new site was set up?  I'm not very familiar with Rails anymore, but I scanned through the API `requests_controller

[2017-09-04 17:23] hpjaj commented on #155
@jjhampton - Thanks.  I actually removed my comment.  Reason being, I mistakenly relied on GitHub's search feature, from an iPad.  It returned no results for anything airtable related.

But after searching in sublime, it turns out there is [a background job](https://github.com/OperationCode/operationcode_backend/blob/master/app/jobs/add_user_to_airtables_job.rb) in the backend repo that pings airt

[2017-09-04 19:39] hpjaj commented on #155
@jjhampton - as [you uncovered in Slack](https://operation-code.slack.com/archives/C04FASBU9/p1504552546000086), the `AddUserToAirtablesJob` [background job](https://github.com/OperationCode/operationcode_backend/blob/master/app/jobs/add_user_to_airtables_job.rb) creates a user in Airtable, not a mentor request.

We would need a new feature request for that, or one for moving to Discourse as you d

[2017-09-05 13:31] #130 closed

[2017-09-05 15:31] hollomancer commented on #155
@jjhampton @rickr, do we want to make the web interface for mentors invisible for now, and just go straight to Discourse implementation?

[2017-09-05 20:11] hollomancer opened #157 "Update information in code_schools.yml for Turing School of Software and Design"
* Update Turing School - they have a $4000 scholarship that can be used as a tuition credit to offset tuition costs that veterans are eligible to apply for.

* Set "Hardware Included" to True.

[2017-09-06 20:21] jmayergit opened #158 "ScholarshipApplication uniqueness"
# Bug Report
## What is the current behavior?
a user can create an unlimited number of applications per scholarship

## What is the expected behavior?
there should be a limit of one application per user per scholarship

[2017-09-08 12:50] #158 closed

[2017-09-09 06:57] #157 closed

[2017-09-15 19:40] dquach217 commented on #121
@rickr Has this been taken? If not can I make a PR for this?

[2017-09-15 20:30] #121 closed

[2017-09-19 17:33] sabrown84 commented on #43
Any direction on this on @rickr

[2017-09-19 17:34] sabrown84 commented on #45
I'd like to try this one...any additional information?

[2017-09-19 17:38] hollomancer commented on #43
Ah, I think this is dependent on the events endpoint being finished.

[2017-09-20 00:29] leenyburger commented on #43
@sabrown84 I'm working on the events endpoint. The UI goal is to show events local to the user first, but right now I am just providing the events as json from our API. I am saving the events to the database, so you should be able to access whatever you need. There was some chatter about this being done on the front end. I don't know if anyone has jumped on this on the frontend yet, probably waiti

[2017-09-20 09:17] PrimeTimeTran commented on #76
@kylemh I'll try this one if you don't mind me taking it on.

[2017-09-20 19:40] hpjaj commented on #76
@PrimeTimeTran - You can ping me if you have any questions on it!

[2017-09-22 02:48] hpjaj opened #163 "Add the whenever gem for cron jobs"
# Feature
## Why is this feature being added?

We need to be able to have recurring cron jobs ran, on our behalf.  For example, to hit GitHub's API, or the Meetup API, on a daily basis, to pull in current statistics or Meetup events.

The [whenever gem](https://github.com/javan/whenever) is a perfect tool to solve this.

This issue will complete the implementation for https://github.com/OperationC

[2017-09-22 02:50] hpjaj commented on #163
@rickr - ping

[2017-09-22 17:06] hpjaj commented on #76
@PrimeTimeTran - You are welcome to take this one on.  If you choose to do so, be sure to:

1. set yourself as the **assignee**
2. change the label status from **available** to **in progress**

If for some reason you run into issues making these updates, ping me or @kylemh and we'll update them for you.

[2017-09-22 17:52] PrimeTimeTran commented on #76
@hpjaj would you mind giving me a review of what I've got so far? I don't want to make a PR until I have all the tests written as well.
https://github.com/PrimeTimeTran/operationcode_backend

[2017-09-22 17:58] hpjaj commented on #76
@PrimeTimeTran - Can you create a pull request in your repository, so that all of your changes are isolated to a branch for code review?

If you have never created a pull request for an open source project before, this link can give you some guidance on how to do so:  https://mind-on-rails.herokuapp.com/notes/313-free-course-on-how-to-contribute-to-an-open-source-project

[2017-10-01 20:37] ianroberts131 commented on #117
I'll give this 1 a try if it's still available

[2017-10-01 20:38] kylemh commented on #117
@ianroberts131 all yours!

[2017-10-03 14:30] ianroberts131 commented on #58
If nobody else is looking at this, I'll start digging in to see the best way to make this conversion happen.

[2017-10-03 23:09] kylemh opened #168 "Code Schools API ping receives 500 error"
# Bug Report
## What is the current behavior?
Fetching from the `code_schools` endpoint yields a 500 server error.

## What is the expected behavior?
Fetching from the `code_schools` endpoint should yield a 200 success notice and operationcode.org/code_schools should render properly.

## What steps did you take to get this behavior?
Open dev tools and go to operationcode.org/code_schools

## Addit

[2017-10-04 04:36] sethbergman commented on #168
I noticed that this got merged without passing CI build:
https://github.com/OperationCode/operationcode_backend/pull/164

I'm wondering if this could be the root of the problem. :thinking:

[2017-10-04 04:51] kylemh commented on #58
@ianroberts131 all yours!

[2017-10-04 16:09] caleywoods opened #169 "Support MOOCs on the code school resource/model/table"
# Feature
## Why is this feature being added?
[This issue](https://github.com/OperationCode/operationcode_frontend/issues/381) on the front-end calls for MOOCs to stop being hardcoded and be returned as JSON from the API like most, if not all, of everything else.

Per some conversation on the front-end issue, we think the existing [code school](https://github.com/OperationCode/operationcode_backen

[2017-10-04 22:47] DRBragg commented on #118
should remove issues once they are merged so it is easier to see what issues are currently open to be worked on

[2017-10-04 23:33] kylemh commented on #118
@DRBragg indeed. We have placeholder text on all PRs that automatically close fixed issues, but sometimes we miss it, if people remove that text.

[2017-10-04 23:33] #118 closed

[2017-10-05 22:48] kylemh commented on #168
Fixed in #171

@sethbergman called it!

[2017-10-05 22:48] #168 closed

[2017-10-05 23:07] benJervis commented on #36
Hi @kylemh, is this issue still available? I'm a first time contributor, and was hoping I could tackle this one for Hacktoberfest.

[2017-10-05 23:09] kylemh commented on #36
@benJervis Please feel free! It's simple busy work. You'll just scour the websites currently in that yaml file, and make sure the info is up-to-date. I'd also appreciate you adding an email field to every school because that will help us with https://github.com/OperationCode/operationcode_frontend/issues/364

Be wary @hpjaj that I'm asking for a model change!

[2017-10-06 11:21] benJervis commented on #36
@kylemh, I'm all done and trying to create a PR, following your instructions in that comment from June, but I don't have permission to push to the remote. Should I have forked it instead?

[2017-10-07 03:17] kylemh commented on #36
@benJervis looks like you figured it out. The answer is yes.

I'm very sorry for those incorrect instructions. Back when I made them this repo was organizers only, and as members of OC we have the ability to clone and make PRs from our own clones.

[2017-10-07 04:30] #36 closed

[2017-10-07 22:28] #7 closed

[2017-10-08 21:32] #155 closed

[2017-10-08 21:34] hpjaj commented on #155
Closing this issue as it was originally thought there was a bug preventing the API call to Airtable.  When in fact, this functionality does not currently exist, and would/could be a future feature request.

[2017-10-09 14:48] hpjaj commented on #76
Completed here: https://github.com/OperationCode/operationcode_backend/pull/164

[2017-10-09 14:48] #76 closed

[2017-10-10 02:14] hpjaj opened #174 "Update the CodeSchool :index and :show endpoints to yield the expected JSON"
# Feature
## Why is this feature being added?

New `CodeSchool` and `Location` models [have been created](https://github.com/OperationCode/operationcode_backend/pull/164), with accompanying code school CRUD endpoints; however, two of the new endpoints are not returning the JSON structure the frontend expects.

## What should your feature do?
- Update the `api/v1/code_schools_controller#index` and

[2017-10-10 04:01] PrimeTimeTran commented on #174
@hpjaj I'll take this one.

[2017-10-10 13:12] hpjaj commented on #174
@PrimeTimeTran - It's yours!

[2017-10-10 20:20] hpjaj commented on #163
@ohaiwalt - curious if this issue is something you’re able to do?

I can take care of installing the `whenever` gem.  Would need your assistance on the second two bullet points.

[2017-10-12 12:39] hollomancer opened #175 "Research: Make it easier to query our database for user information"
# Feature
## Why is this feature being added?

Make it easier to query our database for user information

## What should your feature do?
Creates an admin dashboard that is only accessible to specific users.

- [x] On the `User` page, it should provide a broad filtering mechanism to query for any number of one-off criteria, based on the `User` tables attributes
- [x] Can create, edit, view and/or

[2017-10-12 14:59] DRBragg commented on #37
just a simple action mailer? or something with slack integration?

[2017-10-12 15:28] hollomancer commented on #37
Let's start with an action mailer - Slack can come later.

[2017-10-12 15:43] DRBragg commented on #37
Sounds good, I can take this on

[2017-10-12 16:26] PrimeTimeTran commented on #9
@hollomancer I think I finished this with this PR:
https://github.com/OperationCode/operationcode_backend/pull/164

If I'm correct does that mean this issue should be closed?

[2017-10-12 22:27] DRBragg commented on #37
to clarify, where are the community leaders emails stored?

[2017-10-12 22:30] hollomancer commented on #37
Right now it's not in the database. @hpjaj, this may be a situation where we want to be able to tag that a user is a community leader...

[2017-10-12 22:37] DRBragg commented on #37
that's what I was looking at, I wasn't sure if volunteer boolean was used for community leader, or if that needs to be added to the schema?

or add emails to the team_memebers.yml and the a column to team_members, if they are the same.

[2017-10-13 00:43] hollomancer commented on #163
@hpjaj, would this implementation accomplish what you need?
 http://derekbarber.ca/blog/2015/09/10/scheduling-background-jobs-in-rails-using-sidekiq/

[2017-10-13 00:46] hollomancer commented on #175
@hpjaj, I'm of the mindset that until we have a good way to query user data, do searches, etc. for non-technical users, there's not much point in getting too elaborate with a lot of these other tickets. My preference would be to do this from Slack via a bot, but a web dashboard is fine too if it's easier.

[2017-10-13 01:12] hpjaj commented on #163
@hollomancer - Nice find.  The only issue is deploying the setup to the server.  It "seems" like we would need to do similar config, as what we would need for just using the Whenever gem by itself.

But I don't know.  That would be a question for @rickr or @ohaiwalt ?

Whichever approach is easier for them to setup, I can take care of the rest.

[2017-10-13 01:21] hollomancer commented on #163
I think that in this case, it would just be happening in the same pod as operationcode_backend, wouldn't it? That would skip items 2 and 3.

[2017-10-13 01:28] hpjaj commented on #163
¯\_(ツ)_/¯

The part of the article I am unsure on is the *Deploying Your Background Jobs*, since we do not use capistrano.

Are you thinking that we can just setup a `config/deploy.rb` file as they describe, merge to master and deploy, and it would just work?

If yes, then yes, this would be a great option.

[2017-10-13 01:39] hpjaj commented on #37
@hollomancer - We can leverage [ActsAsTaggagleOn](https://github.com/mbleigh/acts-as-taggable-on) for this.  We already have a [sample implementation](https://github.com/OperationCode/operationcode_backend/blob/master/app/models/resource.rb) for it on the `Resource` model.

We could [add it](https://github.com/mbleigh/acts-as-taggable-on#usage) to the `User` model, as well, and add tag(s) to `User

[2017-10-13 01:40] hollomancer commented on #163
I'm not familiar with Capistrano - but yeah, I would think we would call `whenever --update-crontab` somewhere like .travis.yml or bin/deploy

[2017-10-13 01:42] hpjaj commented on #163
Yeah, that is the missing link for me, too.  @ohaiwalt ?

[2017-10-13 02:10] hpjaj commented on #175
@hollomancer - Sweet find.

Another option is [ActiveAdmin](https://www.activeadmin.info/).  I have some experience with it.  It is not the sexiest choice out there, but it has been around a while, so the assumption would be that others would have some experience with it, too.  Also, it is stable and actively maintained.

The only variable is, how would the hosting work?  I am not sure on the logi

[2017-10-13 13:33] hpjaj commented on #58
@hollomancer - FactoryGirl is much more beginner friendly, more flexible, and much more well known to Rails developers.

Our test suite runs plenty fast.  Fixtures would not give us any significant improvements in speed.  Especially when you weigh all the constraints it puts in place, when compared to the flexible nature of FactoryGirl.

We have quite a few tests depending heavily on FactoryGirl t

[2017-10-13 14:10] #117 closed

[2017-10-13 14:15] hpjaj commented on #174
Moving this discussion to the issue:

@hollomancer @kylemh @jjhampton @Cooperbuilt - What payload do you want the `:show` endpoint to deliver?

1 - a single school at **one** location, or
2 - a single school, with all its locations

For option 1 we would have the frontend pass two params in the request, a school and a location.

For option 2, it would just pass the school.

[2017-10-13 14:36] PrimeTimeTran commented on #174
@hpjaj thanks for moving it forward =), currently blocked on this after having completed the other requests for tests & refactoring.

Guys, I don't know which one to return if a *CodeSchool* has multiple locations. Obviously, this won't be an issue for a *CodeSchool* with one location but there are a few with multiple.

[2017-10-13 14:38] hpjaj commented on #9
This was completed in https://github.com/OperationCode/operationcode_backend/pull/164

[2017-10-13 14:38] #9 closed

[2017-10-13 14:44] hpjaj commented on #61
@PSkaggs - Are you still interested in taking this on?  If yes, its yours!  Just let us know so we can mark it as **in progress**.

[2017-10-13 15:46] hpjaj commented on #87
@hollomancer - I don't believe we are going to be able to satisfy this issue.  Reason being, the only way I can think that we can link a Meetup attendee back to an OC `User` is through their email address (unless there are other ways?).

And the [Meetup API](https://www.meetup.com/meetup_api/) does not yield a member's email address.  Here is [a sample](https://gist.github.com/hpjaj/b52db3c6bb1bee

[2017-10-13 16:26] PSkaggs commented on #61
Sure, I'll take it.

[2017-10-13 16:27] hpjaj commented on #61
@PSkaggs - it is yours!

[2017-10-13 17:53] hollomancer commented on #175
I think this could do the job - my primary priority is something open source that's 'drop in' and that we don't have to spend a huge amount of time maintaining.

[2017-10-13 17:55] hollomancer commented on #58
@hpjaj, concur. I do not think that test speed is a significant limitation to our development on the backend right now - we can reopen if it is.

[2017-10-13 17:55] #58 closed

[2017-10-13 17:57] hollomancer commented on #87
@hpjaj, you are correct and I've spoken to Meetup about this problem. It is on their roadmap to allow additional information allowing for this sort of linking, but until that happens, this can be closed.

[2017-10-13 18:14] kylemh opened #178 "Update Sabio logo url in `code_schools.yaml`"
# Feature
## Paired Issue
Please note this issue requires simultaneous resolution with https://github.com/OperationCode/operationcode_frontend/issues/690

## Why is this feature being added?
We're changing the Sabio logo on the front-end from `.jpg` to `.png`. The change will need to be reflected in `code_schools.yaml` in order to properly render from `/code_schools` API calls.

## What should you

[2017-10-13 18:20] sethbergman commented on #175
You may want to check out auth0. They have a full suite for authentication, user profiles (social) and API integrations (Slack) that I think would be useful for you. I just sent you an invite to a trial, and built a test app @hollomancer.

https://manage.auth0.com

![image](https://user-images.githubusercontent.com/8031689/31559804-95af9b3c-b017-11e7-9ff8-1b5aa3814190.png)

Here's the repo. It's r

[2017-10-13 18:20] shawnlknight commented on #178
I'd love to take this issue and the frontend issue as well!

[2017-10-13 18:22] kylemh commented on #175
@sethbergman The only problem is that it's not inherently free. I do love Auth0's stuff - maybe they'd consider a freebie for us?

[2017-10-13 18:40] hpjaj commented on #178
@shawnlknight - it is yours!  When you submit your pull request, please be sure to mention/remind  that there needs to be coordinated deployment between the front and backends.

[2017-10-13 18:42] sethbergman commented on #175
Well the other route is the passport middleware for Express. It essentially does the same stuff as far as authentication with social providers, but the data it returns is up to us to graph all nicely. :smile_cat:
And yes, I don't think it would hurt to see if we could get a special deal as a non-profit with such a kick ass mission.

[2017-10-13 19:50] hpjaj commented on #128
@sethbergman - Is this still an active, backend issue, or can this be closed?

[2017-10-13 20:00] kylemh commented on #175
@sethbergman I'm confused now. I think this issue is about creating an admin data dashboard to visualize data. It's not about authorization. I was okay with Auth0 cuz I know they provide that service.

[2017-10-13 20:45] hollomancer commented on #175
@kylemh, you are correct. This particular issue is about creating an admin data dashboard to visualize data.

[2017-10-13 21:09] hpjaj commented on #175
I'll work on getting a PR up using ActiveAdmin

[2017-10-13 21:17] hollomancer commented on #169
@caleywoods, all yours!

[2017-10-13 21:19] hollomancer commented on #163
Let's go ahead and get what we need in terms of cronjobs specified - we can worry about the deployment piece afterwards.

[2017-10-13 21:23] hollomancer commented on #79
MVP:

Across all repos, and all users
* Number of pull requests
* Number of commits
* Number of commits on a given day
* Number of unique users that have made a commit
* Number of users that have closed a PR
* Average number of commits per user
* Average number of closed PR's per user

[2017-10-13 21:26] hollomancer commented on #150
This can wait.

[2017-10-13 21:26] #150 closed

[2017-10-13 21:26] hollomancer commented on #151
This can wait.

[2017-10-13 21:26] #151 closed

[2017-10-13 21:26] hollomancer commented on #41
Not going to use Airtable to control this.

[2017-10-13 21:26] #41 closed

[2017-10-13 21:27] hollomancer commented on #116
Revisit after the admin interface goes in.

[2017-10-13 21:27] #116 closed

[2017-10-13 23:31] sethbergman commented on #128
Absolutely! Thanks, this was from quite awhile ago when I was trying to figure out how to stage data on the backend locally.

[2017-10-13 23:31] #128 closed

[2017-10-13 23:49] hollomancer commented on #175
Looks like https://github.com/sferik/rails_admin and https://github.com/thoughtbot/administrate are also options.

[2017-10-13 23:58] sethbergman commented on #175
Sorry if I was unclear. I was just pointing out the free option, which doesn't help here at all. I believe @kylemh had some questions about Passport in a prior ticket. I've been busy configuring my localhost with minikube, and didn't mean to get off topic, but I always do.

[2017-10-14 06:04] Hiren-Mehta commented on #37
Here is the relevant high-level issue where the requirements are discussed: https://github.com/OperationCode/operationcode/issues/749

[2017-10-14 14:14] hollomancer opened #180 "Add tests against Apiary/Dredd to CD/CI"
# Feature
## Why is this feature being added?
Ensure our documentation is always in alignment with our API implementation.

## What should your feature do?
Our docs at http://docs.operationcodeapi.apiary.io/# should take advantage of Travis to verify that new pull requests are appropriately documented.

Instructions: https://help.apiary.io/tools/automated-testing/testing-ci/

[2017-10-15 01:22] hpjaj commented on #37
@hollomancer @jjhampton @kylemh - How do we define a "community leader"?

How would you envision the UI experience for a `User` getting tagged as a community leader?

Would this be:

1. a page in the OC UI that only users with permissions can access, to tag a user as a community leader?
2. clicking a "community leader" button in the new admin panel/dashboard on the user's show page?
3. any user ca

[2017-10-15 01:24] hollomancer commented on #37
Given the limited number of people to do this, #2.

[2017-10-15 01:25] hpjaj commented on #37
👍  I'll build that feature into https://github.com/OperationCode/operationcode_backend/pull/181

[2017-10-15 01:32] hpjaj commented on #37
@DRBragg - I'll add in the tagging functionality in the above PR. As such, you can assume that you will be able to find eligible user's by querying `User.tagged_with("community leader")`.

Are you still interested in taking on this issue?

[2017-10-15 15:40] DRBragg commented on #37
Tracking.

I'm happy to continue to working on this.

[2017-10-15 15:42] hpjaj commented on #37
@DRBragg - It's yours!  Marking it as **In Progress**.  Don't hesitate to reach out if the need arises.

[2017-10-15 16:20] #175 closed

[2017-10-16 01:03] #178 closed

[2017-10-16 02:06] hpjaj opened #184 "Remove all squad related code as the frontend no longer needs it"
# Feature
## Why is this feature being added?

Per the discussion in https://github.com/OperationCode/operationcode_frontend/pull/698, the frontend is no longer using any squad related code.  As such, this code is no longer needed and should be removed to reduce code bloat and potential confusion to future contributors.

## What should your feature do?
Do a full search through the backend for `squ

[2017-10-17 00:50] kylemh commented on #174
@PrimeTimeTran returning all locations sounds best! Harry and I had a convo about it on Slack.

Aka: option 2 on Harry's above comment.

[2017-10-17 01:35] hpjaj opened #185 "Endpoints to create, update and delete a `Location` associated with a `CodeSchool`"
# Feature
## Why is this feature being added?

We currently have endpoints that will do all the CRUD actions for the `CodeSchool` model; however, a code school is incomplete without an accompanying `Location`.

For example, one code school might have one or multiple locations, spread across the country.

## What should your feature do?
- [ ] Create a `Location` `create` endpoint
- [ ] Create a `Lo

[2017-10-17 16:48] PrimeTimeTran commented on #174
@kylemh I think this should be resolved with PR #176

[2017-10-18 21:01] DRBragg commented on #37
Unfortunately I'm having a hell of a time getting Docker to run on my machine.  This is certainly a project I feel comfortable tackling but I don't want to delay it or cause someone to miss an opportunity here.  I'm going to continue to try to get Docker running and hopefully work on this but it might be something you want to change back to `Status: Available`.

[2017-10-18 23:23] codyborders commented on #185
@hpjaj I'll give this one a try!

[2017-10-19 00:01] DRBragg commented on #37
@goodcleanfun can definitely handle this issue so we're good

[2017-10-19 00:47] hpjaj commented on #185
@codyborders - Its yours!  Ping me if you have any questions on it (@harry on our Slack channel).

[2017-10-19 03:38] PSkaggs commented on #61
@hpjaj I'm not sure what all you wanted with this feature.  I currently have a script that runs migrations when starting the container.  Did you want the database seeded as well?

[2017-10-19 13:57] hpjaj commented on #61
@PSkaggs - No, no seeding.  Just want to make sure that the migrations are ran when the container starts.

[2017-10-20 02:18] PSkaggs commented on #61
I suppose I'm a little confused as to how you are running this in production.  If you are using `yarn` then there is already a `make db_migrate` in the script.  Unless you are just using `make` or `docker-compose up --build` or something similar?  Anyway, I've got a PR for you that does what you want.

[2017-10-22 20:28] ianroberts131 commented on #184
I'll take a look at this today

[2017-10-22 20:28] hpjaj commented on #184
@ianroberts131 - its yours!

[2017-10-23 00:59] kylemh commented on #61
@ohaiwalt does this maybe explain our server outage per build?

[2017-10-23 01:34] #184 closed

[2017-10-23 02:17] #79 closed

[2017-10-23 14:44] hollomancer opened #188 "Add Auth0 badge"
You can choose any of the ones shown at http://auth0.github.io/auth0-oss-badges/ You can see the code to include it at https://github.com/auth0/auth0-oss-badges/blob/gh-pages/index.html#L8-L9

[2017-10-25 01:26] hpjaj commented on #188
@hollomancer - As we'll be focusing on Devise, can we close this out?

[2017-10-27 01:26] hpjaj commented on #185
@codyborders - How goes?  Any questions for us?

[2017-10-27 01:27] hpjaj commented on #169
@caleywoods - How goes?  Any questions for us?

[2017-10-27 01:29] hpjaj commented on #37
@DRBragg - How goes?  Any questions we can answer on this?

[2017-10-27 07:38] kylemh opened #190 "Add Cincy Code IT Boot Camp to code_schools.yaml"
# Feature
## Why is this feature being added?
We were emailed by staff at MAX Careers asking to be featured on our /code_schools page.

They're reportedly VA-approved, and they do not offer an online program.

https://maxtrain.com/career/

## What should your feature do?
Implement a yaml object for `Cincy Code IT Boot Camp` with the appropriate information filled out.

[2017-10-27 16:03] DRBragg commented on #37
I passed this off to another dev, @goodcleanfun.  I dont have a way of running Docker on my machine but he should be able to handle it.  I will follow up with him this weekend and see where he is at.

[2017-10-27 17:03] hpjaj commented on #37
@DRBragg - Thanks

[2017-10-28 19:42] #188 closed

[2017-10-29 00:34] ohaiwalt commented on #61
@kylemh negative, unrelated.

[2017-10-29 21:11] #40 closed

[2017-10-29 22:23] whuang8 commented on #190
Hi, I can work on this issue.

[2017-10-29 22:24] kylemh commented on #190
@whuang8 all yours!

[2017-10-30 01:02] ohaiwalt opened #191 "Allow database host to be set by environment variable"
# Feature
## Why is this feature being added?

In order to set up a staging environment or any other environment not already accounted for, the database host needs to be configurable at runtime.

## What should your feature do?

Allow an environment variable `POSTGRES_HOST` to be passed in to determine the location of the database server. This could potentially default to the current values, or ad

[2017-10-30 01:37] whuang8 commented on #190
@kylemh I can't seem to find an email address on their site. Do you have one that I can use in the yaml file for Cincy Code IT Boot Camps?

[2017-10-30 18:07] #190 closed

[2017-11-05 22:03] #191 closed

[2017-11-13 18:44] kylemh opened #196 "Create object for SecureSet in code_schools.yaml"
# Feature
## Why is this feature being added?
SecureSet is an amazing partner, and also a Cyber Security Bootcamp. They've requested to be listed on our /code_schools page.

## What should your feature do?
Add SecureSet to ./config/code_schools.yaml in observation of rules set out in the top of that file.

**VA-Approved**
**Notes:** Not a traditional coding bootcamp. SecureSet focuses on security

[2017-11-13 21:22] unmonk commented on #196
Doing this,  do you have the logo in front_end yet?

[2017-11-23 03:17] hpjaj commented on #61
Completed:  https://github.com/OperationCode/operationcode_backend/pull/186

[2017-11-23 03:17] #61 closed

[2017-11-25 19:47] hpjaj commented on #196
Completed in https://github.com/OperationCode/operationcode_backend/pull/198

[2017-11-25 19:47] #196 closed

[2017-12-02 15:01] hollomancer opened #203 "Create flow for new contributors to get a Cloud9 account"
# Feature
## Why is this feature being added?
In order to make it easier for new contributors to get set up, I'd like to get them a Cloud 9 account. Because we use C9 for Education, we could provide a prebuilt development environment for everyone who wants to get into open source!

This issue is for brainstorming.

## Notes
https://community.c9.io/t/invite-team-users-via-an-api/12970/13
https://gi

[2017-12-08 03:00] hpjaj commented on #37
@DRBragg @goodcleanfun - As there has not been a pull request, or any recent activity on this issue, we are assuming it has become abandoned.  We are marking it available for other members to contribute.

Here are [our contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and **timelines** for

[2017-12-08 03:01] hpjaj commented on #169
@caleywoods - As there has not been a pull request, or any recent activity on this issue, we are assuming it has become abandoned.  We are marking it available for other members to contribute.

Here are [our contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and **timelines** for working an

[2017-12-08 03:02] hpjaj commented on #185
@codyborders - As there has not been a pull request, or any recent activity on this issue, we are assuming it has become abandoned.  We are marking it available for other members to contribute.

Here are [our contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and **timelines** for working an

[2017-12-08 04:53] nellshamrell opened #204 "AirTable Integration"
# Bug Report
## What is the current behavior?

We appear to have code to automatically import new members to Airtable - [I've traced the code path](https://gist.github.com/nellshamrell/e0a1eb3e8b2cc0b13ab1c3bdb9457b6a).  However, I'm unsure if it is actually working - I'm creating this ticket to capture the work involved in verifying this and, if it's not working, fix it.

## What is the expected

[2017-12-08 05:01] nellshamrell commented on #204
First step is learning the values for these secrets:

[code]

which will tell me where the information is supposed to end up in Airtable, which will then allow me to verify whether it is actually there.

[2017-12-09 18:02] jeremysb1 opened #205 "Create object for devCodeCamp in code_schools.yaml"
devCodeCamp is a partner and ought to be on our code schools page

They are:

1. VA-approved
2. located at   313 North Plankinton Ave, Milwaukee, WI 53203
3. website:  http://devcodecamp.com/
4.  hardware not included

[2017-12-09 18:02] jeremysb1 commented on #205
logo is here

https://github.com/OperationCode/operationcode_frontend/issues/751

[2017-12-10 02:48] hpjaj commented on #205
@kylemh @jeremysb1 - Heads up, now that https://github.com/OperationCode/operationcode_backend/pull/176 is merged, all `CodeSchool` additions and updates will be done through the database.

There are [API endpoints](https://operationcodeapi.docs.apiary.io/#reference/0/codeschool-|-create/create-a-codeschool-member) to create and update a `CodeSchool` record.

Next we'll need to complete [this issu

[2017-12-10 16:48] jeremysb1 commented on #205
@hpjaj so what do you need from me?

[2017-12-10 20:15] kylemh opened #206 "Change API keys for Google and Facebook social login"
# Feature
## Why is this feature being added?
The team that created the social login shouldn't be in charge of the accounts that maintain the APIs for our social login. We also need to ensure that the API keys are only shared via server-side communication, not hard-coded into the client.

## What should your feature do?
Note that keys are communicated via `process.env`. @hollomancer we need to cre

[2017-12-10 20:17] kylemh commented on #206
Instructions for generating keys:
- [Facebook](https://developers.facebook.com/docs/facebook-login/web#appsettings)
- [Google](https://developers.google.com/identity/sign-in/web/devconsole-project)

[2017-12-11 02:06] nellshamrell commented on #204
Although we do have code to send info to Airtable - I don't think it actually ends up there.  I also don't think we have those secrets within our application (no one seems to know where they are if we do).

I'm going to proceed by creating a new Airtable...thingy to store member information - including Firstname, Lastname, Slack Name, Service Status, Employed as Software Developer?, and Code Schoo

[2017-12-11 05:02] nellshamrell commented on #204
Update:

I did some more digging into this:

I created a new Airtable base, with a table called Members, and with a new api key.  I set the relevant secrets, but it is failing mostly silently in inserting records into the base/table (it returns "false" as the result").  I took a look at the Gemfile, curious what kind of wrapper we have around the AirTable api - and it looks like we might have our

[2017-12-15 04:30] nellshamrell opened #210 "API Endpoint for adding email address to SendGrid mailing list."
# Feature
## Why is this feature being added?
Our business growth person has request that we add an email only sign up form to the front page of the website.  This allows someone to sign up for our email list (which already exists and is kept in sendgrid), without having to become a full member of Operation Code.

## What should your feature do?

This feature is split between the front end and bac

[2017-12-17 16:28] #210 closed

[2017-12-19 03:18] PrimeTimeTran commented on #205
@jeremysb1 I submitted a [PR here](https://github.com/OperationCode/operationcode_backend/pull/212) to add them. I put `has_online` false because I'm uncertain as to this. Please confirm if they do or don't have an online component.

[2017-12-19 16:01] hpjaj commented on #205
As we have transitioned into managing Code Schools through the database, we will no longer be using that `rake` task, nor the `code_schools.yml` file, to make any Code School updates or additions.

For the time being, until the `Location` endpoints are live, In order to add/update a Code School, we'll just need the [normal information](https://github.com/OperationCode/operationcode_backend/blob/ma

[2017-12-23 19:48] jeremysb1 commented on #205
@PrimeTimeTran

https://devcodecamp.com/veteran-benefits/
full_time = true
hardware_included = false
has_online = false
online_only = false
email:  hello@devcodecamp.com
va_accepted = true
313 North Plankinton Avenue #209 Milwaukee, WI 53203

[2017-12-23 23:13] wimo7083 opened #216 "Request add endpoint to get user's verified state."
# Feature: New Apiary Endpoint to request user information
## Why is this feature being added?
Currently [pybot](https://github.com/OperationCode/operation_code_pybot) provides new slack members with useful resources. per front end issue [#765](https://github.com/OperationCode/operationcode_frontend/issues/765 ). Only members who are verified veterans are eligible for certain resources ex: mentors

[2017-12-24 17:35] hpjaj opened #217 "Add API Documentation for Mentors, Services and Status endpoints"
# Feature
## Why is this feature being added?

Our contributors need to be able to research, confirm and build against the API endpoints that the backend offers.

## What should your feature do?
Document the following backend API endpoints in our [online API documentation](https://operationcodeapi.docs.apiary.io/#).  When doing so, **please follow** the steps described in our `README` for [how to

[2017-12-24 17:38] hpjaj opened #218 "Add API Documentation for Requests endpoints"
# Feature
## Why is this feature being added?

Our contributors need to be able to research, confirm and build against the API endpoints that the backend offers.

## What should your feature do?
Document the following backend API endpoints in our [online API documentation](https://operationcodeapi.docs.apiary.io/#).  When doing so, **please follow** the steps described in our `README` for [how to

[2017-12-24 17:40] hpjaj opened #219 "Add API Documentation for Scholarships endpoints"
# Feature
## Why is this feature being added?

Our contributors need to be able to research, confirm and build against the API endpoints that the backend offers.

## What should your feature do?
Document the following backend API endpoints in our [online API documentation](https://operationcodeapi.docs.apiary.io/#).  When doing so, **please follow** the steps described in our `README` for [how to

[2017-12-24 17:42] hpjaj opened #220 "Add API Documentation for Resources and Sessions endpoints"
# Feature
## Why is this feature being added?

Our contributors need to be able to research, confirm and build against the API endpoints that the backend offers.

## What should your feature do?
Document the following backend API endpoints in our [online API documentation](https://operationcodeapi.docs.apiary.io/#).  When doing so, **please follow** the steps described in our `README` for [how to

[2017-12-24 17:43] hpjaj opened #221 "Add API Documentation for Users endpoints"
# Feature
## Why is this feature being added?

Our contributors need to be able to research, confirm and build against the API endpoints that the backend offers.

## What should your feature do?
Document the following backend API endpoints in our [online API documentation](https://operationcodeapi.docs.apiary.io/#).  When doing so, **please follow** the steps described in our `README` for [how to

[2017-12-24 18:06] #185 closed

[2017-12-25 16:50] hpjaj opened #222 "bug/guest emails not being added to SendGrid"
# Bug Report
## What is the current behavior?
This is what is what happens when the email form is submitted:

[code]

And here is the error from the sidekiq job:

[code]

## What is the expected behavior?
A new email contact to be created in SendGrid

[2017-12-26 16:22] #222 closed

[2017-12-27 04:41] wimo7083 commented on #221
I'd like to work on this one.

[2017-12-27 16:07] hpjaj commented on #221
@wimo7083 - all yours!

[2017-12-27 17:46] hpjaj commented on #174
Completed in https://github.com/OperationCode/operationcode_backend/pull/176

[2017-12-27 17:46] #174 closed

[2017-12-28 23:23] wimo7083 commented on #219
I'll take this one next unless you have a higher priority.

[2017-12-30 02:51] hpjaj opened #225 "Bug/Sidekiq throwing errors in prod when a guest is being added to SendGrid"
# Bug Report
## What is the current behavior?
Current Sidekiq error that is being captured when someone attempts to sign up for the mailing list

[code]

## What is the expected behavior?
It should be adding the guest to our SendGrid contacts.

[2017-12-30 17:03] #225 closed

[2017-12-30 19:10] hpjaj commented on #219
@wimo7083 - It's yours!

[2017-12-30 20:43] hpjaj opened #227 "Bug/flaky controller test"
# Bug Report
## What is the current behavior?
A test in the [locations_controller_test](https://github.com/OperationCode/operationcode_backend/blob/master/test/controllers/api/v1/locations_controller_test.rb#L110) randomly fails, causing [random build failures](https://travis-ci.org/OperationCode/operationcode_backend/builds/322703811?utm_source=github_status&utm_medium=notification).

This has ha

[2017-12-31 20:07] #221 closed

[2018-01-01 17:16] hpjaj commented on #37
Per [discussion above](https://github.com/OperationCode/operationcode_backend/issues/37#issuecomment-336679107), this is how we will be defining a community leader:

This depends on https://github.com/OperationCode/operationcode_backend/pull/183 , which is currently blocked for infrastructure related reasons.

As such, marking this as blocked until that PR is un-blocked.

[2018-01-01 17:49] #227 closed

[2018-01-02 01:17] hollomancer commented on #43
We can reopen this when we revisit events.

[2018-01-02 01:17] #43 closed

[2018-01-02 01:17] hollomancer commented on #45
We can reopen this when we revisit events.

[2018-01-02 01:17] #45 closed

[2018-01-02 19:39] christopher-wolff23 commented on #220
@hpjaj I'm going to try to do this one, get to know the backend a bit better.

[2018-01-02 20:40] hpjaj commented on #220
@christopher-wolff23 - it's yours!

[2018-01-04 03:04] wimo7083 commented on #218
I'll take this one next.

[2018-01-04 20:59] hpjaj commented on #218
@wimo7083 - all yours!

[2018-01-05 01:13] wimo7083 opened #230 "New Rake task: modify team_members database entries"
# Feature: New Rake Task
## Why is this feature being added?

The @OperationCode/front-end team currently uses static content for [Board of Directors](https://github.com/OperationCode/operationcode_frontend/blob/dff2781d159ab9fb7e668a54835ffea63c33768f/src/scenes/home/team/team.js#L30) and dynamic content for [Team Members](https://github.com/OperationCode/operationcode_frontend/blob/dff2781d159ab

[2018-01-06 18:43] hpjaj commented on #230
@wimo7083 - I might have jumped the gun when I assigned this to you, and marked it in progress.

Let me know if you'd like me to keep this issue, or if you'd like me to mark it as available.

[2018-01-07 23:13] #219 closed

[2018-01-08 03:47] wimo7083 commented on #230
https://github.com/wimo7083/operationcode_backend/blob/update_team_task/lib/tasks/update_team_members.rake

Currently have something setup, trying to get the environment running so I can try testing this. If I hit a wall I'll try and get more help.

[2018-01-11 03:00] ohaiwalt opened #235 "Update sidekiq container along with backend in production"
# Bug Report
## What is the current behavior?

Every merge to production updates the backend container image, but sidekiq, which also runs from the backend container image, doesn't get updated with new versions.

## What is the expected behavior?

Update both the backend and sidekiq container images.

## What steps did you take to get this behavior?

Deployed to production and looked at the image

[2018-01-11 03:03] ohaiwalt commented on #235
Some amplifying information: The change in that one line comes from [here](https://github.com/OperationCode/operationcode_infra/blob/master/kubernetes/operationcode_backend/deployment.yml#L54), the name of the sidekiq container.

[2018-01-13 18:58] #218 closed

[2018-01-13 19:03] hpjaj commented on #220
@christopher-wolff23 - In case you're interested, here are a few closed PR's that are similar, that you can use for reference:

- https://github.com/OperationCode/operationcode_backend/pull/229
- https://github.com/OperationCode/operationcode_backend/pull/231
- https://github.com/OperationCode/operationcode_backend/pull/224

[2018-01-14 01:53] #235 closed

[2018-01-14 16:46] hpjaj opened #239 "Authenticate user in CodeSchool create, update, and destroy endpoints"
# Feature
## Why is this feature being added?

Currently the endpoints to `:create`, `:update`, and `:destroy` a `CodeSchool` record are unprotected, and do not require user authentication.

## What should your feature do?
- [ ] Add a `before_action :authenticate_user!` check in the [CodeSchool controller](https://github.com/OperationCode/operationcode_backend/blob/master/app/controllers/api/v1/co

[2018-01-15 10:25] christopher-wolff23 commented on #220
Thanks for those resources. I will try to resolve this one by the end of
this week. Got sidetracked trying to learn ruby, rails, and apiary.

On Sat, Jan 13, 2018 at 2:03 PM, Harry Levine <notifications@github.com>
wrote:

[2018-01-16 13:34] ksmacleod99 opened #241 "Add Skill Distillery to Code Schools"
##Why is this feature being added?
Please add [Skill Distillery](skilldistillery.com) to Code School list.

##What should your feature do?
VA-Approved: Yes
GI Bill Accepted: Yes
Commitment: Full time
Hardware Included: no

[2018-01-22 00:00] nellshamrell opened #242 "Allow non-US zip codes for volunteers"
Hello!

We have a developer in the U.K. who is interested in contributing to our open source projects.  He attempted to join our org as a volunteer, but we only accept U.S. zip codes.  We should consider accepting non-U.S. zip codes for volunteers.

[2018-01-22 00:55] jjhampton commented on #242
In addition to any back-end changes, the front-end [FormZipCode](https://github.com/OperationCode/operationcode_frontend/blob/0cba7ebd242c19434b09321e31ac3f3ed5021352/src/shared/components/form/formZipCode/formZipCode.js) React component will also need to be changed to allow this. It currently runs form validation via regex.

[2018-01-26 18:29] wimo7083 opened #243 "Add Team table group functionality"
# Create a new column for Team database
## Why is this feature being added?

Currently we treat all team members as general members, and when promotion/ demotion we have to remove from database and statically add them to front end. This change would make it so we can have different class of members for our team

We can then add legacy members, board members, and general members and allow the front

[2018-01-29 21:20] alexbeeken commented on #239
@issues-team Hi guys. PR up for this: #244! I wasn't sure if I had time so I didn't reserve it ahead of time. I'll be sure to do that in the future.

[2018-01-29 21:22] hpjaj commented on #239
@alexbeeken - Fantastic...thanks for the PR!

[2018-01-29 21:24] alexbeeken commented on #239
@hpjaj I see that some of my tests are causing errors. Forgive my ignorance but how do you run individual tests on your docker setup?

[2018-01-29 21:25] hpjaj commented on #239
@alexbeeken - No worries.  It is not totally straight forward.  Here you go:  https://github.com/OperationCode/operationcode_backend/wiki/Testing-One-File

[2018-01-29 21:57] alexbeeken commented on #243
@wimo7083 Hey William, I'm wondering how this would be different than the already existing `role` column?

[2018-01-29 22:16] wimo7083 commented on #243
https://operationcode.org/team

We currently have two groups for team members displaying. Right now if someone goes from a `team_member` to a `board` member they need to be removed from the database. Otherwise they appear twice ex:  tyrone grandison.

Right now the role is the displayed text.

[2018-01-29 22:42] alexbeeken commented on #243
@wimo7083 okay I'm going to take a stab at this today.

[2018-01-30 00:37] alexbeeken commented on #243
The PR should be ready for review! 👍

[2018-01-30 03:26] hpjaj commented on #241
I'll add this in once I get access to prod's rails console.  Should be soon.

[2018-01-31 22:19] #239 closed

[2018-02-01 21:23] alexbeeken commented on #242
@nellshamrell I'm claiming this! Going to do the frontend too.

[2018-02-02 01:10] alexbeeken commented on #242
@nellshamrell The solution seems to be to ask Geocoder if it can find the zip code on form submission. If it can't, I simply return "zip code: not found". I removed the frontend validation regex and simplified it to just check if there is actually input in the field. PRs coming up soon.

[2018-02-02 20:53] alexbeeken commented on #242
Connects to this too https://github.com/OperationCode/operationcode_frontend/pull/840

[2018-02-04 03:25] hpjaj commented on #220
@christopher-wolff23 - As there has not been a pull request, or any recent activity on this issue, we are assuming it has become abandoned. We are marking it available for other members to contribute.

Here are our [contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and timelines for working

[2018-02-04 03:29] hpjaj commented on #204
@nellshamrell - Between exporting data directly from prod's db and/or potential with ActiveAdmin, are you good with this issue being closed out?

[2018-02-04 17:24] christopher-wolff23 commented on #220
@hpjaj Sorry! I had some initial trouble wrapping my head around Rails, and then school started back again. Hopefully I'll find some time to look at it, again. But it's fine that you made it available.

[2018-02-04 22:14] hpjaj commented on #220
@christopher-wolff23 - No worries!

[2018-02-10 19:41] hpjaj commented on #205
I added these via prod's `rails c`

[2018-02-10 19:41] #205 closed

[2018-02-10 19:41] hpjaj commented on #241
I added these via prod's `rails c`

[2018-02-10 19:41] #241 closed

[2018-02-10 22:13] hpjaj opened #251 "Code Schools collection should be sorted by :name, by default"
# Feature
## Why is this feature being added?

The Code Schools page is not sorted, per se.  This is b/c the JSON that the backend is serving up, that populates the Code Schools page, is sorted by `id`, which is basically the database `created_at`.

Consequently, it is harder to scan the page for a code school that an end user might be looking for.

## What should your feature do?

- [ ] Set the d

[2018-02-11 20:06] nellshamrell commented on #204
Going ahead and closing this out, we can re-open if needed.

[2018-02-11 20:06] #204 closed

[2018-02-16 23:22] nellshamrell opened #253 "Correct information for General Assembly in Code Schools"
From a staffer at General Assembly:

"I recently came across your site https://operationcode.org/code_schools
and noticed that you do not have the most recent information on our acceptance of the GI Bill here.

Could you please update the information on the page to reflect that we accept the GI Bill for these programs in NY and DC:

NY: Web Development Immersive, User Experience Design Immersive
D

[2018-02-17 18:06] #243 closed

[2018-02-17 20:25] hpjaj commented on #253
@nellshamrell - I made the updates directly in prod's db.  Done.

cc: @kylemh

[2018-02-17 20:25] #253 closed

[2018-02-17 20:40] hpjaj commented on #230
@ksmacleod99 - After the work that was done today in prod's `TeamMember` table, here is a list of **all** of our `TeamMember`s:

https://gist.github.com/hpjaj/d515d9b3bfe9ac2bfa276160e1aa9fb8

Can you please let me know:

1. What records need to be deleted
2. What records need to be added
3. What records need to be updated

Regarding the information found in a given `TeamMember` record, here is wh

[2018-02-17 21:49] nellshamrell commented on #253
Thank you so much, @hpjaj!

[2018-02-20 05:16] wimo7083 commented on #230
I'll try and get with @ksmacleod99 this week to find out how out of date mine is. I still have the PR open which has many changes but there's been a bunch since then.

[2018-02-26 14:55] JYoung217 opened #255 "Code Platoon VA Approved!"
# Feature
## Why is this feature being added?
Code Platoon was approved by the VA on Friday for the GI Bill. We are updating our records with Operation Code to reflect that.

## What should your feature do?
We should show up under the "VA-Approved Schools" section and all the cards where Code Platoon is featured in should have "GI Bill Accepted: True" written.

[2018-02-27 21:34] liambarstad commented on #216
Hey there, myself and @MiguelSilva1997 are first time contributors and would like to tackle this issue, is it still available?

[2018-02-27 21:38] wimo7083 commented on #216
Hi there, it's currently in progress as seen here:
https://github.com/OperationCode/operationcode_backend/pull/240

I'm new to ruby, and the current Project Lead has exciting personal things keeping him away from this project. If you'd like to look over what I've done you're more than welcome to add onto it.

The current things that are in progress are making the endpoint more secure than a global

[2018-02-27 21:52] liambarstad commented on #216
we'd love to talk more, is there a workspace we can join?

[2018-02-27 21:58] wimo7083 commented on #216
Hi yeah, come join us here: https://operationcode.org/signup

[2018-02-28 16:23] wimo7083 commented on #216
I want make sure you know you don't have to be a vet or related to vet, we have many members who just want to contribute and looking for an easy place to communicate.

[2018-03-02 01:22] ag-kylemh commented on #242
@alexbeeken any update?

[2018-03-02 01:23] kylemh commented on #242
@alexbeeken any update?

[2018-03-02 02:48] hpjaj commented on #255
@JYoung217 - I updated this in prod's db!

[2018-03-02 02:48] #255 closed

[2018-03-02 20:24] alexbeeken commented on #242
@kylemh just updated the PR. Ready for review again! Sorry for the delay.

[2018-03-03 21:03] ksmacleod99 commented on #230
@wimo7083 & @hpjaj ; I've left all the chapter leaders until I can get a hold of Ashley's roster
[code]

[2018-03-04 21:13] #242 closed

[2018-03-06 14:21] #169 closed

[2018-03-07 15:19] AshTemp opened #259 "Endpoint to populate airtable with data from the FE 'Mentor Request Form'"
# Feature
## Why is this feature being added?
The FE has the beginnings of a "Mentor Request Form" in [mentorRequest.js](https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/mentorRequest/mentorRequest.js).  This form will only be accessible to ID.me verified users.  This data needs to ultimately be populated in Airtable's in our mentorship airtable.

## Associated I

[2018-03-07 18:44] cndreisbach opened #260 "Add Momentum Learning to code schools"
# Feature
## Why is this feature being added?

Momentum Learning is a code school in Durham, NC that wishes to be added.

Here is the data for the school:

[code]

[2018-03-07 18:45] cndreisbach commented on #260
[This frontend pull request](https://github.com/OperationCode/operationcode_frontend/pull/892) needs to be merged to have the logo available.

[2018-03-07 19:04] kylemh commented on #260
Image is now available via the front-end

[2018-03-10 20:47] hpjaj opened #262 "Cannot create a new code school due to validation issues"
# Bug Report
## What is the current behavior?
Since the addition of the `mooc` attr to the `CodeSchool` table, there is a validation issue that prevents a new one from being created.  Each time there is a rollback, with the error:

[code]
## What is the expected behavior?
To be able to create a Code School.

[2018-03-10 20:51] #262 closed

[2018-03-10 21:07] hpjaj commented on #260
@cndreisbach @kylemh - The `CodeSchool` and `Location` have been added to prod's db:

[code]

[2018-03-10 21:56] hpjaj opened #264 "Potential security vulnerabilities in your dependencies"
# Bug Report
## What is the current behavior?
GitHub is reporting that there are potential security vulnerabilities in your dependencies.  Namely:

- [sparklemotion / nokogiri](https://github.com/sparklemotion/nokogiri/blob/master/CHANGELOG.md)
- [sinatra / sinatra](https://github.com/sinatra/sinatra)
## What is the expected behavior?
Absence of security vulnerabilities.

[2018-03-10 22:20] #264 closed

[2018-03-11 16:21] hpjaj commented on #260
@kylemh - Heads up, the school is **not** showing up on the code schools page, but is part of the response from:  https://api.operationcode.org/api/v1/code_schools

[2018-03-11 17:42] hpjaj commented on #216
@OperationCode/issues-team - Is this issue part of the current roadmap?  If so, can we layout exactly what pain point we are trying to resolve, and confirm that this is the best way to accomplish that.  Otherwise, I am not sure we want to expose the backend API in this manner.

[2018-03-11 21:51] kylemh commented on #260
@hpjaj looks like it's there to me (search for North Carolina)

They're simply not a featured school.

[2018-03-11 21:52] #260 closed

[2018-03-11 21:55] hpjaj commented on #260
@kylemh - nice, thanks.  If you can send me an img src url, I'll update it in prod!

[2018-03-11 22:03] kylemh commented on #260
https://github.com/OperationCode/operationcode_frontend/issues/905

[2018-03-11 22:14] kylemh commented on #216
@wimo7083 prolly best to describe some examples that pybot could run through provided it had eyes on user details.

[2018-03-12 00:13] wimo7083 commented on #216
In the PR I mentioned a few examples of things I would like to do: PR #240

The three primary reasons I see this as helpful.

1. I'd like to be able to get verified status from the backend to serve additional content, currently the slackbot is used to handle the mentor notification system. We currently have routes to get to the mentor request that don't require verification. I want to eliminate th

[2018-03-12 00:31] hpjaj opened #268 "Code School response missing mooc attr"
# Bug Report
## What is the current behavior?
The backend code school endpoints are missing the `mooc` attribute.

## What is the expected behavior?
This attribute should be included by default.

[2018-03-12 02:12] #268 closed

[2018-03-12 14:28] cndreisbach commented on #260
Thanks, @kylemh! We do offer a $1,000 discount to veterans -- would that qualify us for the partnered schools? (See Tuition information on https://momentumlearn.com/beginners/).

[2018-03-12 16:07] kylemh commented on #260
That's a discussion you'll want to have with the people upstairs ;)

Feel free to email staff@operationcode.org concerning you desire for a partnership.

[2018-03-13 00:00] nellshamrell commented on #216
While I can certainly see the use of this feature, my main concern is whether this information will be exposed publicly.  Because there is personal information included in it - I would only be open to this if there were some sort of auth required to access the API.  This is not on our current road map (which will be released soon!) - I'd rather do the verification of whether someone is a veteran a

[2018-03-13 01:24] wimo7083 commented on #216
Auth would be required, if you have any suggestions on my contribution I'll definitely take them.

I agree that any data should be kept private and subject to any security policy you state.

The veteran status was to help people in that awkward scenario in which they had to ask and deny services when someone didn't qualify.

Looking through the old Issues I also see that #37 lines up pretty well w

[2018-03-13 21:18] davidroyer commented on #205
name: The Software Guild
url: www.thesoftwareguild.com
logo: ![sg-logo](https://user-images.githubusercontent.com/8834693/37370410-7e767926-26e2-11e8-9b8e-ff76390741aa.jpg)

full_time: true
hardware_included: false
has_online: true
online_only: false
locations:
 - va_accepted: true
   address1: 252 E Market St
   city: Louisville
   state: KY
   zip: 40202

[2018-03-14 00:55] hpjaj commented on #216
I'll explore some authentication options to secure our API, for non-user consumers (i.e. Slack).

[2018-03-14 04:42] nagano564 commented on #220
K... I will check this out on thursday to see if I have any shot of handling this. @hpjaj Let's see how it goes. If I can't figure it out I will just bug the crap out of my mentor.

[2018-03-14 14:36] hpjaj commented on #220
@nagano564 - It's yours!  Let me know if you run into any issues.

[2018-03-14 14:43] hpjaj opened #270 "Create an admin interface for execs to query the database"
# Feature
## Why is this feature being added?

Make it easier for our execs to query our database for user information.

## What should your feature do?
Create an admin site, with security and privileged/secure access, to execute CRUD actions on db records, view high level analytics, run custom and common queries, etc.

[2018-03-14 19:06] wimo7083 commented on #216
Thanks. If you give me the requirements. I can do the footwork.

[2018-03-15 02:35] nellshamrell opened #271 "Add instructions for running the dev environment in a VM"
I was recently working with a member who's computer could not run Docker.  We worked together on figuring out how to use an AWS instance to run his dev environment in.

I've written up the instructions here https://gist.github.com/nellshamrell/5a2843605d8478357175c514d53c3da6

Getting these into the README would be a great first time contribution!

[2018-03-15 22:03] kirbygit commented on #271
ill try to do this once I get back home nell cc @kirbygit

[2018-03-16 16:51] dave5801 commented on #271
@nellshamrell May I have this issue? Since I was the member you speak of. This would be a great first time contribution!

[2018-03-16 17:18] dave5801 commented on #217
@hpjaj May I have this issue -- i think this would be great starting point on the backend.

[2018-03-16 17:19] hpjaj commented on #217
@dave5801 - It's yours!  Ping me if you have any questions.

[2018-03-16 17:42] kirbygit commented on #271
this issue is being done on the pull request #272

[2018-03-16 19:44] heliocola opened #273 "Forgotten reference to Lieutenant in Maintainers.md"
# Bug Report
## What is the current behavior?
Forgotten reference to Lieutenant in Maintainers.md

## What is the expected behavior?
Reference Sergeant instead

## What steps did you take to get this behavior?
Not applicable

[2018-03-16 19:46] heliocola commented on #273
Trying to follow the [Submitting Your Changes](https://github.com/OperationCode/operationcode_backend#submitting-your-changes) instructions even though this is a tiny one.

[2018-03-16 22:55] kirbygit commented on #271
@dave5801 hey you can go ahead and claim this issue and basically just copy the pr I did. I won't mind

[2018-03-17 15:23] hpjaj opened #275 "Add `is_partner` boolean attribute to CodeSchool table"
# Feature
## Why is this feature being added?

The frontend uses this descriptor for filtering on the code schools page.   We rarely seem to remove partner schools.  As such, it would make filtering easier if this attr was available as part of the endpoints responses, by default.

## What should your feature do?

- [x] Add `is_partner` to the `CodeSchool` table.  Defaulting to `false` and `null` `

[2018-03-17 15:26] hpjaj commented on #271
@kirbygit - it's yours!

[2018-03-17 15:38] hpjaj opened #276 "Update the readme to reflect multiple setup options for the Rails repo locally"
# Feature
## Why is this feature being added?

Docker setup is recommended and efficient, but it is not the only option when setting up the API locally.  This PR creates a home for the three installation options to live.

## What should your feature do?
Create structure for these new options to live in.

[2018-03-17 15:43] #273 closed

[2018-03-17 16:18] #276 closed

[2018-03-17 16:36] hpjaj opened #278 "Instructions on a native setup added to the readme"
# Feature
## Why is this feature being added?

When using this repo locally, you can do so via Docker, a AWS VM, or through a native setup.  We currently have instructions for the first two, but not the latter.

## What should your feature do?
Create a set of instructions for setting up this repo natively.  Follows the pattern laid out in https://github.com/OperationCode/operationcode_backend/pull

[2018-03-18 13:05] ksmacleod99 opened #280 "Add Software Guild to Code Schools"
name: The Software Guild
url: www.thesoftwareguild.com
logo: sg-logo
![37370410-7e767926-26e2-11e8-9b8e-ff76390741aa](https://user-images.githubusercontent.com/28678836/37566164-80074282-2a8b-11e8-83de-4ba1aa2d0f79.jpg)

full_time: true
hardware_included: false
has_online: true
online_only: false
locations:

va_accepted: true
address1: 252 E Market St
city: Louisville
state: KY
zip: 40202

[2018-03-18 13:07] ksmacleod99 opened #281 "General Assembly NY Duplicates on Code Schools"
# Bug Report
## What is the current behavior?
General Assembly NY is listed three times

## What is the expected behavior?
Should be listed once

## What steps did you take to get this behavior?
https://operationcode.org/code_schools

[2018-03-18 15:22] hpjaj commented on #281
@ksmacleod99 - General Assembly actually has three locations in New York:

[code]

Although there website shows two locations in NYC:  https://generalassemb.ly/locations/new-york-city

Can you pls confirm with them if the third location is valid, or should be deleted?

[2018-03-18 15:24] hpjaj commented on #280
@ksmacleod99 - Can you please supply a url for the logo.  For example, here is the one for GA:

[code]

[2018-03-18 18:00] ksmacleod99 commented on #281
Sure! I can reach out. Also, is there a way to make them look different? I guess that's a front-end issue, isn't it?

[2018-03-18 18:11] ksmacleod99 commented on #280
Not quite sure where to put the image to generate a URL

[2018-03-19 04:20] kirbygit commented on #271
PR #282 fixes this issue now thanks.

[2018-03-19 13:47] hpjaj commented on #280
@kylemh - Can you pls help with the above

[2018-03-19 13:48] #271 closed

[2018-03-20 07:41] kylemh commented on #275
I like that you made a checklist this time. Idea: add it into `.github/PULL_REQUEST.md` for if a PR involving adding other code schools?

[2018-03-20 20:21] nagano564 commented on #259
can I take a stab at this @AshTemp @hpjaj

[2018-03-20 20:22] nagano564 commented on #259
Can I take a stab at this @AshTemp @hpjaj

[2018-03-20 21:31] AshTemp commented on #259
It's fine with me, I just report the things I need y'all make the magic happen.

[2018-03-20 22:00] hpjaj commented on #259
@AshTemp - I need to sync up with you to iron out this issue.  In the meantime, I'm going to place this issue on hold.

cc: @nagano564

[2018-03-20 22:03] AshTemp commented on #259
I'm always around, just shoot me a DM on slack.

On Tue, Mar 20, 2018 at 6:00 PM, Harry Levine <notifications@github.com>
wrote:

[2018-03-21 02:01] hpjaj commented on #220
@nagano564 - Heads up, updated this story's acceptance criteria.

[2018-03-21 02:31] wimo7083 commented on #230
Should I close this since the dashboard is now managing back end data?

[2018-03-21 02:48] hpjaj commented on #230
@wimo7083 - I feel we still need a full inventory done to resolve

1. What records need to be deleted
2. What records need to be added
3. What records need to be updated

Do you have bandwidth to own that task?  Once we have all of those questions answered, then we can either:

1 - make the updates live in prod's `rails console`, or
2 - if there are a significant amount of changes, create a rake t

[2018-03-21 02:56] wimo7083 commented on #230
I'm free on the weekend, but the people who know the details aren't free on the weekend. I'll get as many as I can before them. And then open a PR with the list of modifications, that we can cross off and add as the database is updated and add names as more people are found.

[2018-03-21 12:15] ksmacleod99 commented on #230
I am so sorry y'all! I am going to put this on my to-do list now with a suspense of Saturday. This is 100% on me.

[2018-03-21 13:04] hpjaj commented on #230
Awesome, thanks @ksmacleod99 !

[2018-03-21 23:19] kirbygit commented on #275
Can i try this and help me out :D @hpjaj ✌️

[2018-03-22 00:49] hpjaj commented on #275
@kirbygit - It's yours!  Yeah, ping me if you run into any issues.

[2018-03-24 20:40] #270 closed

[2018-03-25 04:18] kylemh opened #284 "Point to AWS API for Code Schools image src's"
# Feature
## Why is this feature being added?

We're moving off of GitHub's assets src as an API.

## What should your feature do?
I'm not sure where the data is grabbed from anymore, but the model for code_schools includes a `logo` key. The fields should be adjusted to the format of this example url: `https://s3.amazonaws.com/operationcode-assets/codeSchoolLogos/bloc.jpg`

## Existing Data

[Here

[2018-03-25 16:43] ksmacleod99 commented on #230
[code]

[2018-03-26 14:17] hpjaj commented on #230
@ksmacleod99 - Thanks!

@wimo7083 - Can you create a rake task that will:

1. delete the appropriate records
2. add the appropriate records
3. update the appropriate existing records

[2018-03-27 23:10] jvillama commented on #284
Hi @kylemh, I can take this. Would this involve just updating the `code_schools.yml` file to the correct AWS url endpoints?

[2018-03-28 01:47] hpjaj commented on #284
@jvillama - It's yours!  I have updated the issue's description with resources and acceptance criteria.  Ping me if you run into any blockers.

[2018-03-28 03:35] jvillama commented on #284
@hpjaj The rake task is supposed update all of the `CodeSchool` records' `logo` attributes correct?

[2018-03-31 17:43] #284 closed

[2018-03-31 17:47] hpjaj commented on #280
@ksmacleod99 - When you have a URL for the logo, can you pls drop a comment in here, and @ mention me?   I'll then add the school's info to prod.

[2018-03-31 18:17] ksmacleod99 commented on #280
https://raw.githubusercontent.com/OperationCode/operationcode_frontend/master/src/images/codeSchoolLogos/software_guild.jpg
@hpjaj  at long last!

[2018-03-31 20:55] hpjaj commented on #259
@AshTemp - I have updated this issue...ready for a contributor!

[2018-03-31 21:15] hpjaj opened #288 "Endpoint to populate airtable with data from the FE 'Team Treehouse Licenses' form"
# Feature
## Why is this feature being added?
The FE will be creating a form around Team Treehouse Licenses.  This form will only be accessible to ID.me verified users.  This data needs to ultimately be populated in Airtable in a new airtable.

## Associated Issue

https://github.com/OperationCode/operationcode_frontend/issues/890

## What should your feature do?

- [ ] create a new airtable in Ai

[2018-03-31 21:24] hpjaj commented on #288
@kylemh !

Can you please describe:

1.  Precisely what data this FE form will be passing to the BE
2.  If that data will/will not be a 1:1 mapping to columns in an Airtable airtable?
3.  Anything else that I am missing in the description re: acceptance criteria for the FE

[2018-04-01 04:51] ag-kylemh commented on #288
Instead of making this just about Tree House licenses, perhaps it could be our scholarship application page? I envision a drop-down representing all the available scholarships/resources one can sign up with.

Regardless, our prior discussion was relating to administrative tools, so this would be slightly different. Luckily, whatever we do here can be used there.

I presume the following data will

[2018-04-01 04:52] kylemh commented on #288
Instead of making this just about Tree House licenses, perhaps it could be our scholarship application page? I envision a drop-down representing all the available scholarships/resources one can sign up with.

Regardless, our prior discussion was relating to administrative tools, so this would be slightly different. Luckily, whatever we do here can be used there.

I presume the following data will

[2018-04-01 04:53] AshTemp commented on #288
Treehouse is the only scholarship we have right now....The idea is good tho.

Sent from my iPad

[2018-04-01 05:21] kylemh commented on #281
https://github.com/OperationCode/operationcode_frontend/issues/934

[2018-04-01 05:21] #281 closed

[2018-04-01 16:00] hpjaj commented on #288
@kylemh - You're right, I did use the admin dashboard as the example, but actually I was more broadly thinking exactly this.  Forms & tables, with varied access.  Be that access "admin" access, or "verified user" access, or "board member" access...whatever we choose.  We can create any roles we choose.

But for this example let's say it is for ID.me verified users.

- These verified users can acce

[2018-04-01 18:24] AshTemp commented on #288
Whoa, wait a minute. We are using airtable for a multitude of reasons. The big ones being the mentors can publicly see who still needs a mentor. Others include the fact that the bot can not only read the requests but also write to the table to include who is mentoring an individual. So unless you’re going to also include Allen in this discussion to find out what needs to happen so that the bot sti

[2018-04-01 18:26] hpjaj commented on #288
Right, this is not for mentors or the mentor process.  This is for Team Treehouse (or scholarship applications).

[2018-04-01 18:29] AshTemp commented on #288
Oh, would still need a quick searchable way to find that and teamtree house is basically going to be a spreadsheet so airtable is perfect for that.

Sent from my iPad

[2018-04-01 18:35] hpjaj commented on #288
Airtable is one option.  What I am describing accomplishes the same end goal, with many additional benefits.

[2018-04-01 18:50] AshTemp commented on #288
Before we make big changes you need to talk with Nell.

Sent from my iPad

[2018-04-01 20:18] hpjaj opened #289 "Ability to assign a user a role for increased accesss"
# Feature
## Why is this feature being added?

Standard users are authenticated, and do not need a role.  Authentication grants them the access level they need.

However there are use cases where a given user might need need increased access.  For example an admin, or board member, or super admin, etc., etc.

## What should your feature do?

Create a `Role` table, associated with a `User`.

[2018-04-01 20:25] hpjaj commented on #288
Agreed!  @nellshamrell was part of my original discussion on the topic.

I just implemented the concept of "roles" in PR https://github.com/OperationCode/operationcode_backend/pull/290.  This, in conjunction with Pundit, provides varied access to forms, links, tables, etc.

But for sure, @nellshamrell can you pls share your thoughts?

[2018-04-01 22:16] hpjaj commented on #280
Done!

https://operationcode.org/code_schools

[2018-04-01 22:16] #280 closed

[2018-04-02 19:42] #220 closed

[2018-04-02 23:46] nagano564 commented on #289
I got this!!!

[2018-04-02 23:50] hpjaj commented on #289
@kenny  This one is already in process.  You’ll want to search for the issues marked “Status: Available”

[2018-04-02 23:52] hpjaj commented on #275
@kirbygit -  How goes?  Any progress on getting a PR in place?

[2018-04-03 14:59] nagano564 commented on #37
K.. let's see if I can figure this out

[2018-04-03 15:01] hpjaj commented on #37
@nagano564 - It's yours!

[2018-04-07 13:36] hpjaj commented on #275
@kirbygit  - As there has not been a pull request, or any recent activity on this issue, we are assuming it has become abandoned.  We are marking it available for other members to contribute.

Here are [our contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and **timelines** for working an i

[2018-04-07 20:35] hpjaj commented on #259
@kylemh @jjhampton - Will the user be able to select one or multiple choices for these two inputs:

https://github.com/OperationCode/operationcode_frontend/blob/master/src/scenes/home/mentorRequest/mentorRequest.js#L112-L135

Will the FE will be passing one item, or a list of items, for those two inputs?

[2018-04-08 16:29] hpjaj opened #293 "Tiered access to admin dashboard"
# Feature
## Why is this feature being added?

Currently in order to give a user access to the admin dashboard, we have to grant them "super admin" privileges.

We want to be able to give people access to view and filter, but not the ability to create or update any records.

That is just one example of tiered access.

## What should your feature do?
- [ ] Give the `admin` role access to the admin

[2018-04-10 01:31] hpjaj opened #294 "Add CodeSchool & Location resources to ActiveAdmin"
# Feature
## Why is this feature being added?

Gives admins the ability to conduct CRUD actions on the `CodeSchool` model.  Currently this has to be done through prod's rails console.

## What should your feature do?
Here are the ActiveAdmin docs:  https://activeadmin.info/documentation.html

Here is a sample implementation of a Resource in our codebase:  https://github.com/OperationCode/operation

[2018-04-13 02:37] #230 closed

[2018-04-13 03:00] #37 closed

[2018-04-13 03:02] hpjaj opened #297 "Rake task to tag community leaders"
# Feature
## Why is this feature being added?

Now that https://github.com/OperationCode/operationcode_backend/pull/292 is merged, we need a rake task to initially tag the appropriate users in prod with the community leader tag.

## What should your feature do?

- [ ] Collaborate with @hollomancer (or whomever he deems appropriate) to determine what prod users should be tagged
- [ ] Creating the r

[2018-04-13 04:15] jjhampton opened #298 "Add V School to Code Schools"
# Feature
## Why is this feature being added?
This school has just been approved to accept the GI Bill,  so they're trying to help get the word out. Originally requested in front-end repo: https://github.com/OperationCode/operationcode_frontend/issues/938

## What should your feature do?
Add V School as a code school to production DB.

Prerequisites (~Marking as blocked until these are met~):
- [x

[2018-04-15 01:26] hpjaj opened #301 "Swap existing Pundit implementation for CanCanCan"
# Feature
## Why is this feature being added?

Pundit is only used in one place in our app.  CanCanCan works with ActiveAdmin, and supports a tiered permissions approach.

## What should your feature do?

- [ ] Find where Pundit is used and swap it out for CanCanCan
- [ ] Remove Pundit from the app

[2018-04-15 02:32] #293 closed

[2018-04-15 15:01] #294 closed

[2018-04-15 16:43] jjhampton commented on #298
Closing, V School has now been added via the new admin dashboard, and can be viewed at https://operationcode.org/code_schools.  Great job by the back-end team in creating the admin dashboard  to expedite this process!

[2018-04-15 16:43] #298 closed

[2018-04-15 16:59] hpjaj opened #304 "Remove db auto-filled fields from admin forms"
# Feature
## Why is this feature being added?

There are certain fields that the database automatically populates on our behalf, and should not be manually adjusted. This PR removes those fields from the admin dashboard's forms.

## What should your feature do?
Remove the db autofilled fields for the `User` and `CodeSchool` forms.

[2018-04-15 16:59] #304 closed

[2018-04-15 18:17] jjhampton opened #305 "Update Board Member image_src path to use absolute URLs to S3 assets"
# Feature
## Why is this feature being added?
Needed for front-end issue https://github.com/OperationCode/operationcode_frontend/issues/943 to be completed.

Currently, the front end [Team page](https://operationcode.org/team) is not fetching Team Member data from the  back-end API `https://api.operationcode.org/api/v1/team_members`, but is instead using static client-side JSON data.

 The above [

[2018-04-15 21:34] hpjaj opened #307 "Add TeamMember resource to admin dashboard"
# Feature
## Why is this feature being added?

Gives admins the ability to conduct CRUD actions on the `TeamMember` model.  Currently this has to be done through prod's rails console.

## What should your feature do?
Here are the ActiveAdmin docs:  https://activeadmin.info/documentation.html

Here is a sample implementation of a Resource in our codebase:  https://github.com/OperationCode/operation

[2018-04-15 21:45] hpjaj commented on #305
Completed in https://github.com/OperationCode/operationcode_backend/pull/306

[2018-04-15 21:45] #305 closed

[2018-04-15 22:09] #307 closed

[2018-04-16 01:18] jjhampton opened #309 "Add email field to executive staff team members (non-board)"
# Feature
## Why is this feature being added?

In order to finish up front-end issue https://github.com/OperationCode/operationcode_frontend/issues/943, the API call to https://api.operationcode.org/api/v1/team_members needs to return an `email` field for executive staff team members (non-board). This `email` field is already in the static client-side data ([executiveStaff.js](https://github.com/O

[2018-04-16 03:08] #309 closed

[2018-04-17 02:41] wimo7083 opened #312 "Slack Integration 4: Rake task to add slack usernames based on email"
# Feature
## Why is this feature being added?
Most of our community happens in the Slack workspace; slack uses `id` as the primary key. Non-slack data and user information is stored with `email` as unique key and with a unique PK.

Being able to connect the FE, BE and slack information is pretty important. It's desired to use the Slack API to join the two bits of information.

## What should your

[2018-04-17 14:42] nagano564 commented on #301
Too early to start another one?

[2018-04-17 14:45] hpjaj commented on #301
Yes

[2018-04-18 04:32] wimo7083 opened #314 "Create new SlackUser Database with RESTful modifications"
# Feature
## Why is this feature being added?
This feature is being added to reduce `User` table bloat and reduce manual CRUD operations.
This modification will create a new table to store Operation Code Slack information and create an endpoint to control the update and secure access for this RESTful endpoint.

Going to be using this issue as the epic for the entire feature, and will attempt to im

[2018-04-18 14:27] hpjaj commented on #314
@wimo7083 - When I wrote this, I was thinking you'd be breaking it out into individual issues.
 Apologies for not making that clear.

Can you pls create the individual issues for this work?

Issues:

1. Create `SlackUser` table and remove column from `User` table
2. API authentication for PyBot
3. Service class to deal with the creating and updating logic of a `SlackUser`
4. `SlackUser` `:create`

[2018-04-19 01:09] #297 closed

[2018-04-20 02:43] hpjaj opened #315 "Bug: When creating a new user receiving error msg 'zip code not found'"
# Bug Report
## What is the current behavior?
When signing up, form submitted, site gives an error saying "zip code not found"

## What is the expected behavior?
Being able to sign up with no error

## What steps did you take to get this behavior?
From @aaron-suarez in https://github.com/OperationCode/operationcode/issues/779 :

Attempted to join operationcode.org using https://www.operationcode.o

[2018-04-20 03:12] jjhampton commented on #315
Reposting details posted by ramil.lim in Slack `#oc-projects`:
Possibly related to Google Geocoding request failure, done in `before_validation` at https://github.com/OperationCode/operationcode_backend/blob/master/app/models/user.rb#L31

So if validation `zip_code_exists` runs after that and the geocode failed in the `before_validation`, there will be no `latitude`, `longitude`

[2018-04-20 03:17] jjhampton commented on #315
I was also able to replicate the issue, but after several attempts it worked. So this appears to be sporadic.

[2018-04-20 03:32] ramillim commented on #315
I also think the validation should be checking for presence of zip code instead of latitude and longitude so that new signups won't be blocked if the google API limit is reached or the service is unavailable.

[2018-04-20 17:40] nagano564 commented on #275
Hey I'm gonna give it a go.

a few questions:

The first point in the checklist. Which one should it default to false or null?

Defaulting to false and null false

[2018-04-20 19:13] hpjaj commented on #275
@nagano564 - It's yours!

Here is a good explanation of that migration file question:

https://robots.thoughtbot.com/avoid-the-threestate-boolean-problem

[2018-04-21 17:39] wimo7083 opened #318 "Slack Integration 1: Create New DB Table"
# Feature
## Why is this feature being added?
This feature is being added so that identifying information from the Slack API can be stored in the production database.

By adding a new DB we will reduce the bloat of `User` and allow new contributors to practice performing joins on the DB instance.

## What should your feature do?
- [x]  create new db table `SlackUser` table
- [x]  remove `User:slac

[2018-04-21 17:59] wimo7083 opened #319 "Slack Integration 2: Add SlackUser Service Class"
# Feature
## Why is this feature being added?
Feature is being added to perform the actions required to manage modification of the `SlackUser` table.

## What should your feature do?

Class will have two modification methods:
1. create
2. update

## Create Actions
1. Method uses provided email to query for `User`
2. User is found:
a. Creates a new `SlackUser` on FK `email`
b. Sends 201.
3. User is

[2018-04-21 18:08] wimo7083 opened #320 "Slack Integration 3: Add create and update endpoints"
# Feature
## Why is this feature being added?
Need a way to securely connect `PB` with `BE`.
Allow PB to manage the slack authentication with SlackAPI.
Forward all events that need it to BE.

## What should your feature do?
- [ ] Allow authenticated application to send `POST` and `GET` HTTP requests
- [ ] add `slack_user_create`  to `config/routes.rb`
- [ ] add `slack_user_update`  to `config/rout

[2018-04-21 18:17] wimo7083 opened #321 "Slack Integration 5: API authentication for PB"
# Feature
## Why is this feature being added?
Create a way to authenticate that the request coming in for `SlackUser` updates is authenticated and should continue.

## What should your feature do?
Customize authentication for PB connections.

Slack uses two types of tokens that do not change until you request permission changes:

1. Verification - ensure request is coming from slack
2. Access - sl

[2018-04-21 18:18] wimo7083 opened #322 "Slack Integration 6: Incorporate after_update method"
# Feature
## Why is this feature being added?
This is a placeholder for future work that needs to be hashed out.

## What should your feature do?
Incorporate an `after_update` call on `user.email_changed?`

[2018-04-21 21:40] hpjaj commented on #319
Dependency: https://github.com/OperationCode/operationcode_backend/issues/318

[2018-04-21 21:41] hpjaj commented on #320
Dependency: https://github.com/OperationCode/operationcode_backend/issues/318

[2018-04-21 21:42] hpjaj commented on #312
Dependency: https://github.com/OperationCode/operationcode_backend/issues/318

[2018-04-21 22:11] hpjaj commented on #314
Closing this.  Thanks for creating all the individual issues.

[2018-04-21 22:11] #314 closed

[2018-04-21 22:35] hpjaj opened #323 "Uninstall Forest Admin"
# Feature
## Why is this feature being added?

This PR added Forest admin: https://github.com/OperationCode/operationcode_backend/pull/283

It needs to be uninstalled, as we are using ActiveAdmin instead.  Here are the instructions to uninstall forestadmin:

https://doc.forestadmin.com/knowledge-base.html#uninstall
## What should your feature do?

- [ ] Clean uninstall of ForestAdmin and everythin

[2018-04-21 22:36] wimo7083 commented on #318
I'd like to work on this first.

[2018-04-21 23:14] hpjaj commented on #318
@wimo7083 - It's yours!  Let me know if you need a hand with anything.

[2018-04-22 13:45] hpjaj commented on #318
When a new db table is created, you will also want to create a new SlackUser model.  This is where the business logic will reside for validations, associations, etc.

[2018-04-22 17:06] wimo7083 commented on #318
Looking at the other models I'm getting an idea of what these do. These look like the private classes that manipulate the database directly that you can expose to the endpoint handlers. Since any email changes are coming from slack I probably don't need email validation. But I could put the query in here to perform the join to find user.

Other than that not sure what custom methods I should inclu

[2018-04-22 17:43] wimo7083 opened #326 "Use standardized format"
# Feature
## Why is this feature being added?
Start working towards a standardized formatter/ linter such as the FE does.

Options I've seen include rubocop and rufo. I've started using rufo locally and while it's great in some cases it I can't get single_quotes setting to work.

## What should your feature do?
Include a formatter config setting and documentation on how to setup the linter so that

[2018-04-22 22:15] hpjaj commented on #326
Let's use rubocop, it is more of an industry standard.

[2018-04-23 17:37] kirbygit commented on #275
is this issue being done I see a pr :)

[2018-04-23 17:47] kirbygit commented on #323
can I do this? This is in regards to gem 'forest_liana' right?

[2018-04-23 18:36] kirbygit commented on #323
issue in progress in pr #327

[2018-04-23 18:40] kirbygit commented on #326
I'll work on this

[2018-04-24 02:28] #321 closed

[2018-04-25 02:33] #275 closed

[2018-04-25 02:51] nagano564 commented on #301
@hpjaj is this available to take over?

[2018-04-25 02:52] hpjaj commented on #301
@nagano564 - It's yours!  Ping me if you have any questions on it.

[2018-04-25 04:58] kirbygit commented on #180
I would love to do this on my freetime with some guidance

[2018-04-25 17:43] wimo7083 opened #330 "Dashboard missing is_partner and rendering object values"
# Bug Report
## What is the current behavior?
In the admin dashboard one of the attributes for code_school is not appearing as an attribute along with not allowing this to be filterable.

In the admin dashboard some filters show object values.

## What is the expected behavior?
`is_partner` should be in dashboard
object references should instead show values.

## What steps did you take to get this

[2018-04-26 02:02] hpjaj opened #332 "Add `rep_name` and `rep_email` to CodeSchool"
# Feature
## Why is this feature being added?

The frontend would like to start gathering contact information for a code school.

## What should your feature do?

- [ ] Add `rep_name` (string) to the `CodeSchool` table
- [ ] Add `rep_email` (string) to the `CodeSchool` table
- [ ] Add attrs to serializer
- [ ] Add attrs to strong params
- [ ] Update apiary docs
- [ ] Add spec illustrating presence

[2018-04-28 19:28] hpjaj commented on #216
Closing this out in favor of the Slack integration issues 1 - 6

[2018-04-28 19:28] #216 closed

[2018-04-30 01:50] hpjaj opened #335 "Add GitHub authentication secrets to Kubernetes"
# Feature
## Why is this feature being added?

In order to utilize the [aggregated GitHub stats feature](https://github.com/OperationCode/operationcode_backend/pull/153), we need the [GitHub authentication](https://developer.github.com/v3/#authentication) `client_id` and `client_secret` set.

## What should your feature do?
- [ ] Add GitHub `client_id` and `client_secret` values to Kubernetes

[2018-04-30 02:11] #335 closed

[2018-04-30 03:08] nagano564 commented on #332
Can I start this?

[2018-05-01 00:57] #301 closed

[2018-05-02 00:57] #323 closed

[2018-05-03 18:27] kirbygit opened #341 "Add Firehose Project to Code Schools section"
# Feature
## Why is this feature being added?

Firehose Project is in the process of a possible partnership offering a scholarship to eligible veterans in the Los Angeles Area. For now add them to the Code Schools section -> Online Schools
## What should your feature do?
Add the Logo attached to this issue
1. The logo is attached for Firehose Project
2. Currently not accepting the G.I. bill
3. Loc

[2018-05-03 18:36] jjhampton commented on #341
@kirbygit We can add it via the Admin Dashboard's GUI now, which I would venture to say falls into "back-end", but shouldn't require any back-end code changes or pull-requests to be merged in.

So you can probably leave it open here, just make sure that whoever will be adding it has:
*  the base logo (what you posted above will work)
* the ability to edit the logo / upload to S3 (@kylemh or I can

[2018-05-03 18:37] kirbygit commented on #341
ok will reeopen this thanks @jjhampton

[2018-05-03 18:43] jjhampton commented on #341
If this is a 'Partner School', those are currently hardcoded in the front-end React project - but until then, a normal Code School managed by Admin will work. Looks like we need a few more details for the info, too.

[2018-05-03 18:44] kirbygit commented on #341
Partner School is currently in talks. A normal Code School is fine for now

[2018-05-03 20:57] iorme1 commented on #330
Hi, I'd like to work on this if it is still available. Thanks!

[2018-05-04 22:00] hpjaj commented on #330
@iorme1 - it's yours!  Let me know if you have any questions.

[2018-05-04 22:01] #332 closed

[2018-05-05 23:04] nagano564 commented on #326
Are you working on this @kirbygit. If not I would like to give it a go

[2018-05-06 02:17] kirbygit commented on #326
All yours

[2018-05-06 02:42] jjhampton commented on #341
Added via Admin Dashboard.

[2018-05-06 02:42] #341 closed

[2018-05-06 17:22] hpjaj opened #342 "Add Service resource to admin dashboard"
# Feature
## Why is this feature being added?

Gives admins the ability to conduct CRUD actions on the `Service` model.  Currently this has to be done through prod's rails console.

## What should your feature do?
Here are the ActiveAdmin docs:  https://activeadmin.info/documentation.html

Here is a sample implementation of a Resource in our codebase:  https://github.com/OperationCode/operationcod

[2018-05-06 17:58] nagano564 commented on #342
What permissions do you want to give admins over the `service` model? All CRUD actions?

How can I check this if I don't have access to the ActiveAdmin dashboard?

[2018-05-06 19:13] hpjaj commented on #342
1. Let's follow the same pattern as is done for [TeamMember](https://github.com/OperationCode/operationcode_backend/blob/master/app/models/ability.rb)
2. You'll need to create three `AdminUser`s.  One with each role: super admin, admin, and board member.  And then login and out as each, testing access.  This is all done in your local test env (i.e. localhost).

[2018-05-07 03:05] robotscissors commented on #217
HI @hpjaj, I am new to contributing and it looks like this is up my alley. May I?

[2018-05-07 03:06] hpjaj commented on #217
@robotscissors - it's yours!  Let me know if you have any questions.

[2018-05-07 14:26] nagano564 commented on #342
should I create something like so?

https://github.com/OperationCode/operationcode_backend/blob/53377ae3418a6d9735d69e4cd63efa7182885499/test/models/team_member_test.rb

[2018-05-08 01:30] robotscissors commented on #217
Hi Harry, got docker installed and forked. Following the instructions [
operationcode_backend/docs/setup/docker_setup.md], after running this:

Let's Go:> make test

docker-compose up --build -d

Creating network "operationcodebackend_default" with the default driver

Pulling bundle (operationcodebackend_web:)...

ERROR: Get
https://registry-1.docker.io/v2/library/operationcodebackend_web/manifest

[2018-05-08 01:50] hpjaj commented on #342
So `AdminUser` is just another db table.  And it has a `belongs_to` relationship with `Role`:

https://github.com/OperationCode/operationcode_backend/blob/master/app/models/admin_user.rb#L7

So you'll just be creating the [three defacto role records](https://github.com/OperationCode/operationcode_backend/blob/master/lib/tasks/roles.rake#L4) in your local db, and then creating three new `AdminUser`

[2018-05-08 01:54] hpjaj commented on #217
To confirm, have you tried:

1. Have the Docker app running
2. Run `make setup`
3. Run `make bundle`
4. Run `make test`

[2018-05-08 01:55] hpjaj commented on #217
Also, are you on a Mac, PC, or Linux?

[2018-05-08 02:01] robotscissors commented on #217
Hi Harry,
I am on a Mac. Yes, I have tried all three commands and docker is running.

https://registry-1.docker.io/v2/library/ruby/manifests/2.3.3  (which I
think is the container)

Returns this:
{

   - errors:
   [
      -
      {
         - code: "UNAUTHORIZED",
         - message: "authentication required",
         - detail:
         [
            -
            {
               - Type: "repos

[2018-05-08 02:09] robotscissors commented on #217
Hold the phone. I logged out of Docker at the command line and logged back in again, and things are moving. Thank you for your patience.

[2018-05-09 18:49] iorme1 commented on #330
I have a few questions about this issue.  My first conclusion after looking at the codebase was that this bug is based on how ActiveAdmin was setup for this website.  After coming to that conclusion, I researched a bit on ActiveAdmin because I had never used it before.  It seems like "is_partner" was missing from the permit_params and in the 'index do end block' of app/admin/code_school.rb.  Howev

[2018-05-10 01:35] hpjaj commented on #330
@iorme1 - You would just need to add `is_partner` to the below file in the same way the other attributes are added there.  For example, `full_time`.

https://github.com/OperationCode/operationcode_backend/blob/master/app/admin/code_school.rb

If you want to learn more about ActiveAdmin, in general, Railscasts has an oldy but goody you can watch.

[2018-05-11 01:47] #342 closed

[2018-05-11 02:01] hpjaj commented on #318
@wimo7083 - How goes on the code review comments?  Any questions?

[2018-05-12 02:01] nellshamrell commented on #288
Reading through the backscroll now :)

[2018-05-12 02:07] nellshamrell commented on #288
Here are my thoughts:

I think everyone (including me) is in agreement that the mentorship process should stay in Airtable.

What I'm hearing here, though, is that we'd like to use our own database to track scholarship information (starting with Tree House).  I believe this would not alter any current behavior - this is entirely new behavior.  Is this correct?  Or do we currently track scholarship

[2018-05-12 02:17] AshTemp commented on #288
I am tracking exactly 1 entry in airtable at the moment, the other
scholarship stuff I'm handling in Google forms so nothing will be affected.

On Fri, May 11, 2018 at 10:07 PM Nell Shamrell-Harrington <
notifications@github.com> wrote:

[2018-05-12 15:26] #217 closed

[2018-05-12 15:55] hpjaj opened #349 "Adds new resources to ActiveAdmin for `Scholarship` and `ScholarshipApplication`"
# Feature
## Why is this feature being added?

Gives admins the ability to conduct CRUD actions on the `Scholarship` and `ScholarshipApplication` models.  Currently this has to be done through prod's rails console.

## What should your feature do?
Here are the ActiveAdmin docs:  https://activeadmin.info/documentation.html

Here is a sample implementation of a Resource in our codebase:  https://git

[2018-05-12 20:25] nagano564 commented on #349
Can I do this?

[2018-05-12 21:38] hpjaj commented on #349
@nagano564 - It's yours!

[2018-05-12 21:48] #326 closed

[2018-05-12 22:02] hpjaj opened #351 "Autocorrect all of the RuboCop offenses for the `Style/StringLiterals` cop"
# Feature
## Why is this feature being added?

We are currently excluding the `Style/StringLiterals` cop in our `.rubocop_todo.yml` file.  This cop needs to be enforced.

## What should your feature do?

- [ ] Remove the `Style/StringLiterals` cop from the todo file
- [ ] Run the RuboCop autocorrect command (`rubocop -a --auto-correct`)
- [ ] Review all of the auto-corrections for accuracy

[2018-05-12 23:05] hpjaj commented on #206
Completed by @nellshamrell

[2018-05-12 23:05] #206 closed

[2018-05-13 02:01] #259 closed

[2018-05-16 04:04] hollomancer opened #356 "Add metrics for user churn"
# Feature
## Why is this feature being added?
We need a way to measure user churn. Being able to measure our retention is critical, in order to know whether we're improving our ability to keep users active in Slack.
## What should your feature do?
As staff, I want to see the number of inactive users per day, as well as the number of new joiners per day.

[2018-05-18 17:27] operationcode-pybot opened #357 "New Code School Request: Loyola University New Orleans"
Name: Loyola University New Orleans
url: http://www.business.loyno.edu/cecd/learn-code
full_time: True
hardware_included: False
has_online: False
online_only: False
va_accepted: True
mooc: False
with_housing: False
address1: 6363 St. Charles Avenue | Box 15
address2:
city: New Orleans
state: LA
country: USA
zip: 70118

rep name: Kate McCrery
rep email: kymccrer@loyno.edu
logo:
 ![school-logo](http

[2018-05-19 01:43] operationcode-pybot opened #358 "New Code School Request: DevLeague"
Name: DevLeague
url: https://www.devleague.com/
full_time: True
hardware_included: False
has_online: False
online_only: False
va_accepted: True
mooc: False
with_housing: False
address1: 2800 Woodlawn Drive
address2:
city: Honolulu
state: HI
country: US
zip: 96822

rep name: Victor Lee
rep email: victor@devleague.com
logo:
 ![school-logo](http://operationcode-pyback.us-east-1.elasticbeanstalk.com/i

[2018-05-19 03:14] jjhampton commented on #358
Instructions for [Admin Dashboard | Adding or Updating a Code School](https://github.com/OperationCode/operationcode_backend/wiki/Admin-Dashboard--%7C-Adding-or-Updating-a-Code-School)

Instructions for [Adding a Code School Logo](https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo)

[2018-05-19 03:14] jjhampton commented on #357
Instructions for [Admin Dashboard | Adding or Updating a Code School](https://github.com/OperationCode/operationcode_backend/wiki/Admin-Dashboard--%7C-Adding-or-Updating-a-Code-School)

Instructions for [Adding a Code School Logo](https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo)

[2018-05-19 04:17] nagano564 commented on #357
So only people with admin access can do these tasks?

[2018-05-21 13:27] operationcode-pybot opened #360 "New Code School Request: Eleven Fifty Academy"
Name: Eleven Fifty Academy
url: https://www.elevenfifty.org/
full_time: True
hardware_included: False
has_online: False
online_only: False
va_accepted: False
mooc: False
with_housing: False
address1: 12175 Visionary Way
address2:
city: Fishers
state: IN
country: United States
zip: 46038

rep name: Carol Gilliam
rep email: cgilliam@elevenfifty.org
logo:
 ![school-logo](http://operationcode-pyback.u

[2018-05-22 15:40] #349 closed

[2018-05-23 04:46] aamarill commented on #278
Hello @hpjaj can I get started on this issue? 😄

[2018-05-23 13:13] hpjaj commented on #278
@aamarill - it's yours!

[2018-05-27 15:58] hpjaj commented on #318
@wimo7083 - We need to get this issue closed in the next few days, as it is blocking the 5 remaining Slack issues.

I can take the issue over if you don't have the bandwidth.  Pls let me know ASAP.

[2018-05-27 16:02] hpjaj commented on #330
@iorme1 - As there has not been any response in PR, or any recent activity on this issue, we are assuming it has become abandoned.  We are marking it available for other members to contribute.

Here are [our contributing guidelines](https://github.com/OperationCode/operationcode/blob/master/CONTRIBUTING.md#guidelines-for-working-an-issue) which discuss the process and **timelines** for working an

[2018-05-27 16:11] hpjaj commented on #357
@OperationCode/front-end - If one of you you can get the [logo manipulated/uploaded to AWS](https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo), and drop the resulting URL in this issue, I can take care of the rest.

[2018-05-27 16:12] hpjaj commented on #358
@OperationCode/front-end - If one of you you can get the [logo manipulated/uploaded to AWS](https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo), and drop the resulting URL in this issue, I can take care of the rest.

[2018-05-27 16:12] hpjaj commented on #360
@OperationCode/front-end - If one of you you can get the [logo manipulated/uploaded to AWS](https://github.com/OperationCode/operationcode_frontend/wiki/Adding-a-Code-School-Logo), and drop the resulting URL in this issue, I can take care of the rest.

[2018-05-27 18:20] hollomancer opened #363 "Link featured jobs to Slack"
# Feature
## Why is this feature being added?
We want to ensure that any featured jobs we have on our site, are also featured in Slack as well (dependent on https://github.com/OperationCode/operationcode_frontend/issues/982 being completed)
## What should your feature do?
MVP: Select three of the featured jobs at random, and post them in Slack under #job_board.

[2018-05-27 18:32] hpjaj commented on #330
Completed in https://github.com/OperationCode/operationcode_backend/pull/362

[2018-05-27 18:32] #330 closed

[2018-05-28 00:52] hpjaj commented on #318
completed in https://github.com/OperationCode/operationcode_backend/pull/324

[2018-05-28 00:52] #318 closed

[2018-05-28 15:48] wimo7083 commented on #357
![loyola](https://user-images.githubusercontent.com/10781353/40621909-3d5f9b06-625c-11e8-8b18-cae5e9a908c1.png)

Attempted to upload to S3 bucket, don't have permissions to the `operationcode-assets, folder: codeSchoolLogos` bucket.

[2018-05-28 15:49] wimo7083 commented on #360
![elevenfifty](https://user-images.githubusercontent.com/10781353/40621925-50cd6e5c-625c-11e8-944a-7c6b2412c255.png)

Attempted to upload to image to S3 bucket, don't have permissions. Here's the corrected image.

[2018-05-28 15:50] wimo7083 commented on #358
This image has some weird things with transparency. I'm unable to automate the correction right now. It looks okay on a white background, but part of the image is transparent and so on a non-white background it's looking wonky.
![test](https://user-images.githubusercontent.com/10781353/40621970-80b02902-625c-11e8-85a2-bbe20c0b6f53.png)

[2018-05-28 16:31] wimo7083 commented on #360
https://s3.amazonaws.com/operationcode-assets/codeSchoolLogos/elevenfifty.jpg

[2018-05-28 16:32] wimo7083 commented on #358
https://s3.amazonaws.com/operationcode-assets/codeSchoolLogos/devleague.jpg

[2018-05-28 16:32] wimo7083 commented on #357
https://s3.amazonaws.com/operationcode-assets/codeSchoolLogos/loyola.jpg

[2018-05-28 16:34] wimo7083 commented on #360
Thanks for the assist @kylemh

[2018-05-28 16:50] jjhampton commented on #358
@wimo7083 Small gripe, but the left/right padding is less than 15px here. On inspection, left is ~ 5px, right is ~ 9px.

[2018-05-28 16:57] operationcode-pybot opened #364 "New Code School Request: Eleven Fifty Academy"
Name: Eleven Fifty Academy
url: https://www.elevenfifty.org/
full_time: True
hardware_included: False
has_online: False
online_only: False
va_accepted: False
mooc: False
with_housing: False
address1: 12175 Visionary Way
address2:
city: Fishers
state: IN
country: United States
zip: 46038

rep name: Carol Gilliam
rep email: cgilliam@elevenfifty.org
logo:
 ![school-logo](http://operationcode-pyback.u

[2018-05-28 17:02] AllenAnthes commented on #364
Resubmitted issue to fix/test #360

[2018-05-28 19:13] hpjaj commented on #319
@wimo7083 - For the case where the user is not found in our db, we need to send them a Slack message.

Is there a PyBot endpoint that we can `POST` to to trigger a private message to a user?

If yes, can you provide all the details (URL, params, headers, etc.), including any auth requirements.

[2018-05-31 00:35] leenyburger opened #365 "Add jobs table, endpoint, and functionality"
# Feature
## Why is this feature being added?
Allow jobs to be saved in the database and provided to the front end via an endpoint. This feature will also allow CRUD actions via the admin dashboard.

## What should your feature do?
Needs to include:
- new db table
- new `GET` index endpoint
- new resource in ActiveAdmin
- test coverage
- API docs

Jobs table to include:
title
source_url
source
cit

[2018-06-02 20:45] jjhampton commented on #365
@leenyburger I'm working on the front-end portion of this right now and am mocking out the above data structure in the front-end. Will `status` be a string? I was thinking that a boolean could also work, example: `active: true` or `active: false`.

[2018-06-03 14:44] jjhampton opened #367 "Store user data consent in database as part of signup flow"
# Feature
## Why is this feature being added?

GDPR and other user data-related concerns. Related to FE issue: https://github.com/OperationCode/operationcode_frontend/issues/983
## What should your feature do?
Store in the DB whether a user has agreed to :

- terms of use
- code of conduct
- privacy policy

Store the date that the user agreed to the above.

Allow the front-end to pass this data to

[2018-06-03 15:43] wimo7083 opened #368 "Scope out Mentor Flow change."
# Feature
## Why is this feature being added?

After discussion in the mentor channel it was discussed that we want to determine if transitioning away from Airtable is an option. Creating this issue to scope out the problem and write out all the user stories.

User stories that were discussed:
1. Mentors and admin staff want to view mentor requests
2. Mentors want to be notified when a new mentor

[2018-06-03 19:15] kylemh commented on #367
This will be a bit interesting as we should also discuss how this change affects users already in the database. We'll need to add a step in the login process checking for users having agreed or not to get their acceptance after the fact.

[2018-06-03 22:41] hollomancer commented on #367
@kylemh, very true. I was thinking that the mass email blast to validate our current email list might be a part of this process.

[2018-06-04 16:11] aamarill commented on #278
@hpjaj I apologize for the delay on this!
If you see someone else looking for work, please have them give me a hand with this.
Feel free to update the "status" label to "available".

I don't think I am going to have too much spare time in the coming weeks.
Thanks! 😄

[2018-06-07 02:48] jjhampton commented on #358
Tweaked the image and uploaded it as a PNG to S3.

Closing, added via Admin Dashboard and gave Code School Rep (Victor Lee) a courtesy notification in Slack.

[2018-06-07 02:48] #358 closed

[2018-06-07 02:50] jjhampton commented on #360
Closing, duplicate of #364

[2018-06-07 02:50] #360 closed

[2018-06-07 02:59] jjhampton commented on #357
Closing, added via Admin Dashboard.

[2018-06-07 02:59] #357 closed

[2018-06-10 15:57] operationcode-pybot opened #369 "New Code School Request: Epicodus"
Name: Epicodus
url: https://www.epicodus.com
full_time: True
hardware_included: True
has_online: False
online_only: False
va_accepted: True
mooc: False
with_housing: False
address1: 400 SW 6th Ave
address2: Suite 800
city: Portland
state: OR
country: USA
zip: 97204

rep name: Debbie Cravey
rep email: hi@epicodus.com
logo:
 ![school-logo](http://operationcode-pyback.us-east-1.elasticbeanstalk.com/i

[2018-07-01 04:37] jjhampton opened #370 "Remove verification restriction for users requesting mentors via API"
# Feature
## Why is this feature being added?

Issue #259 and PR #344 added an endpoint where mentor requests can be sent  to the Rails API (which is then forwarding those requests to Airtable).

Currently there is a restriction to only allow verified Id.me users to make these requests, but per @ashtemp and staff, we now want to lift this restriction.  Instead of checking Id.me verification, we wi

[2018-07-01 16:29] jjhampton commented on #370
@nagano564 There's already a PR open for it - #371

[2018-07-02 17:52] jjhampton commented on #369
Updated via Admin Dashboard for the Epicodus Portland, OR location. Closing.

[2018-07-02 17:52] #369 closed

[2018-07-03 19:09] hollomancer commented on #363
We'd need a table for job opportunities to do this.

[2018-07-03 19:57] jjhampton commented on #363
@hollomancer There's a back-end PR in progress for this: https://github.com/OperationCode/operationcode_backend/issues/365

[2018-07-06 22:37] hollomancer commented on #87
Meetup has added this functionality! cc @hpjaj

https://www.meetup.com/meetup_api/docs/pro/:urlname/members/

[2018-07-10 05:30] aamarill commented on #278
@hpjaj So sorry for the delay on this, but I don't think I can work this anymore. I recommend that you please update the status to "available". In addition, you may want to add a "beginner friendly" tag 😅
Thank you for the opportunity to contribute!

[2018-07-10 14:40] hollomancer opened #372 "Brainstorming: User Data Analytics"
In our database, we have a lot of open columns for stuff like branch of service, Github / LinkedIn account, that sort of thing. However, we have no way of actually populating it.

I'd like to find a way we can query the database for missing data, and start generating reports for what questions we need to ask. That way, we can do customized, targeted surveys (maybe three question a month, or every

[2018-07-10 14:48] hollomancer commented on #372
Additionally, once we get an idea of where we're missing the most data, we can start prioritizing what data is most critical (and using that to ensure we're sending targeted surveys)

[2018-07-10 21:01] hollomancer commented on #356
What further detail can I add to this?

[2018-07-10 21:05] hollomancer opened #373 "Identify military spouses in backend admin interface"
Not sure if this is a feature request or a bug.

# Bug Report
## What is the current behavior?
Our current user signup flow asks for information on whether someone is a military spouse, but this does not appear to be visible in the backend admin interface.

## What is the expected behavior?
Ability to search by military spouse.

[2018-07-10 22:17] hollomancer commented on #373
From Slack per @jjhampton, looks like `militaryStatus` is not being passed from the frontend to the backend. Additionally, the API does not accept as a paramenter.

[2018-07-11 00:19] hollomancer commented on #203
Not a high priority.

[2018-07-11 01:43] #370 closed

[2018-07-11 20:51] hollomancer opened #374 "Formatting issue in db/schema.rb:14:1 on `make test`"
## What is the current behavior?
When running `make test`,

[code]

[2018-07-14 22:29] dmarchante commented on #365
@hpjaj Is there a reason the `On Hold` tag is applied here?

[2018-07-18 00:03] jjhampton opened #376 "Filter expired scholarships from API response"
# Feature
## Why is this feature being added?

We're wanting to prevent display of expired scholarships on the Scholarships page.The API call to `/api/v1/scholarships` currently returns all scholarship objects, regardless of whether or not they are expired. To prevent the front-end from displaying the expired scholarships, this would currently require either:
a) Admins to manually remove expired s

[2018-07-21 16:09] #373 closed

[2018-07-28 16:35] jjhampton opened #377 "Populate Airtable with mentee's email address as part of mentor request"
# Feature
## Why is this feature being added?

Follow on to #259
## What should your feature do?
Part of requesting a mentor currently (via the Airtable UI) involves the mentee submitting their email address as one of the required requst fields. This serves as a way for a mentor to contact the mentee in the event that they are not yet on Slack. In the past, there have been multiple mentees who wer

[2018-07-28 16:36] jjhampton commented on #377
I can work on adding this in as I continue to (slowly) work on front-end issue https://github.com/OperationCode/operationcode_frontend/issues/971 .

[2018-07-28 17:38] wimo7083 commented on #377
We were hoping to do this by integrating with be. The ultimate goal was to use the information from the frontend login to propulate slack name, email, etc. Be connecting BE  and pybot and use pybot to manage the user changing their slack email and name to update the stored data in BE.

[2018-07-28 17:51] jjhampton commented on #377
@wimo7083 Is that idea set up yet, or are there plans for it? Currently what's happening when I send a Mentor Requests from the Backend to Airtable is that it's the only data sent is:
[code]
And the email field is left blank on Airtable after the request is populated.

[2018-07-28 18:02] wimo7083 commented on #377
No there are issues for it, the next steps are writing up the controllers.

[2018-08-01 01:08] #377 closed

[2018-08-03 14:17] AshTemp opened #379 "Clicking change password doesn't actually work."
# Bug Report
## What is the current behavior?
When clicking change password user is told we are unable to set the password for this email.

## What is the expected behavior?
The password resets.

## What steps did you take to get this behavior?
1. Open www.operationcode.org.
2. Click login.
3. Click forgot password.
4. Go to email and click link in email to change password.
5. Attempt to change pa

[2018-08-04 03:46] wimo7083 commented on #379
I just tried to do it and it works for me. For some reason we thought it had to do with the FE sending a `PATCH` and the BE expecting a `POST`

I just tried this and it's working in chrome to send a PATCH.

[code]

[2018-08-04 21:12] AshTemp commented on #379
It's still broken for me? New logs are in the channel.

On Fri, Aug 3, 2018 at 11:46 PM William Montgomery <notifications@github.com>
wrote:

[2018-08-04 21:58] AshTemp commented on #379
After further testing with Will, the user can click the password recent link from a previous email and it will work. Initially clicking the reset link on the most recent email will result in failure. However, after the user is successfully able to change the password with a previous link the most recent link will also work.

[2018-08-21 13:49] ohaiwalt opened #381 "Require evaluation of environment variable values"
## Problem

The backend is running in production with a set of environment variables that represent access keys and API tokens for various services we use. Historically there were only local development and production environments supported, but as we're trying to have a staging environment in https://github.com/OperationCode/operationcode_infra/issues/40 an evaluation of each of these variables a

[2018-08-21 13:53] dmarchante commented on #365
@leenyburger are you still working on this?

[2018-08-21 13:56] dmarchante commented on #288
@AshTemp @nellshamrell can we revisit the direction we want this to go? Are we still looking to move away from AirTable, and track this ourselves?

[2018-08-21 14:00] jjhampton commented on #365
@dmarchante Looks like there is a PR that was submitted and is awaiting review/approval: https://github.com/OperationCode/operationcode_backend/pull/366

[2018-08-21 14:11] robbkidd commented on #278
Would a hybrid native/docker/docker-compose development environment work? Wherein the Ruby bits—the web service running in development mode, minitest tests, rubocop, etc—run on the host while services that the backend depends on (Postgres, Redis) continue to run in docker containers. Would that meet the desire for a "native" development environment?

[2018-08-21 14:12] dmarchante commented on #278
good question. I will have to pull in eyes more familiar with this. @nellshamrell @hollomancer ?

[2018-08-21 14:16] robbkidd commented on #278
Scoping questions: Is the goal to ...

... avoid requiring a developer to install Docker?

... enable a developer to run the Ruby portions of the backend in a more direct way on their host to ease console access or running a debugger?

What challenges have developers had with docker- and cloud-based development environments that a native setup would address?

[2018-08-21 14:28] dmarchante commented on #278
... avoid requiring a developer to install Docker?
    Potentially, we are trying to be as beginner friendly as possible. Additionally, I anticipate learners will want to know how to set up the environment locally.

... enable a developer to run the Ruby portions of the backend in a more direct way on their host to ease console access or running a debugger?

[2018-08-21 14:29] jjhampton commented on #278
@robbkidd I suspect that your second option was one of the goals - 'enable a developer to run the Ruby portions of the backend in a more direct way on their host to ease console access or running a debugger'. I'm thinking that we want setup/running of the back-end to be something that is easy and accessible even for beginner devs. I don't have any details as I'm not very active on the back-end tea

[2018-08-21 14:41] dmarchante commented on #288
@AshTemp @nellshamrell @hollomancer @JennWeideman
We need to have a discussion around this as I think we need a db for a variety of reason not just scholarships, and we will have to update the original issue as well.

[2018-08-21 22:37] robbkidd commented on #379
A little more information: the first password reset attempt that shows an error appears to actually succeed in changing the user's password despite the display of the error.

[2018-08-22 01:01] jjhampton commented on #379
Originally I thought the front-end might have been mishandling the response and causing some type of  redirect loop, but I don't think so anymore.

I think the usage of PATCH in the back-end has to be related here - I can't reproduce this consistently every time, but in local dev, after submitting the password reset form, the back-end resets the password, responds with a 302 message, but then also

[2018-08-22 12:06] leenyburger commented on #278
@robbkidd @jjhampton @dmarchante Harry helped me set this up natively when I first got involved (a few years ago now?) and it really helps beginning developers to not have to mess with Docker. Plus byebug and Docker aren't friends. It's intimidating to run `make` commands when you're still figuring out `rake` commands. The steps are something like this:
- Get postres running
- Modify the  / etc /

[2018-08-22 12:38] robbkidd commented on #379
Discovered this morning that a second send-me-a-reset-email is not necessary. Only need to click the "Set Password" button again after seeing the error to get the success and redirect to `/login`.

[2018-08-22 21:55] kylemh opened #382 "Email needs formatting and updating"
# Current Email
Welcome to Operation Code! You've just joined a community of 3000+ coders, who are all looking to further their skills and careers in software development!
We are a decentralized organization, and we work both [online](https://community.operationcode.org/) and in [local chapters](https://www.meetup.com/pro/operationcode/) across the country. Please introduce yourself on our [forums

[2018-08-22 22:26] wimo7083 opened #383 "Make sentry monitoring better"
# Feature
## Why is this feature being added?

Sentry is adding a bunch of value to our monitoring, we wish to increase this value in the future.
## What should your feature do?

1.  Configure to include correct build environment (staging, prod)
2. Tie the build id of travis, github and sentry so we can relate build issues to sentry issues.
3. ~Send logs to chatops for repeated messages, but witho

[2018-08-22 22:40] kylemh commented on #383
That's not really how Raven works though. It essentially alerts us to when users encounter an error in their browser.

[2018-08-22 22:56] wimo7083 commented on #383
Some of the errors above are due to unknown coding/ infra issues that were only found when a user did some action, from looking at the docs you can modify the config for raven in all sorts of ways.

https://docs.sentry.io/clients/ruby/config/

Currently we only have the default config: https://github.com/OperationCode/operationcode_backend/blob/a3027d7c6cce4db51b708c7c148130c663456a9f/config/envir

[2018-08-22 22:59] kylemh commented on #383
Right. I'm saying that Raven is client-side only. There's no server-side implementation of Sentry that I'm aware of.

[2018-08-22 23:10] kylemh commented on #383
After chatting a bit more, this does seem like an issue. Clearly some services are reporting via Raven. Perhaps it's an aspect of an e2e implementation w/ Raven.

All aside, most of Raven's errors in #chatops seem very cryptic and unhelpful.

[2018-08-23 00:02] wimo7083 commented on #382
PS, please replace the code of conduct with a non-community link and verify all other links are accurate and up to date.

[2018-08-23 00:11] kylemh commented on #382
Seeking: Correct CoC link @hollomancer

[2018-08-23 01:08] hollomancer commented on #382
https://github.com/OperationCode/operationcode_docs/blob/master/community/code_of_conduct.md

[2018-08-23 03:57] wimo7083 opened #384 "Rubocop is too strict on windows"
# Bug Report
## What is the current behavior?
`make rubocop` should lint the files. Using Windows the carriage return characters for line endings make a lint offense. git normalizes line endings and shouldn't be considered.

When I run lint I get 253 offenses detected.

## What is the expected behavior?
Use git line ending check to prevent, turn off line ending checks.

## What steps did you take

[2018-08-27 16:16] wimo7083 commented on #383
This has been corrected.
Will close the ticket once we document the fix and corrective actions _somewhere_ and what we expect sentry to do.

[2018-08-27 16:23] wimo7083 opened #388 "Bug: Various sentry bugs"
Using this as a placeholder for all the new bugs until we can write out full issues:

1. ActiveRecord::ConnectionTimeoutError: could not obtain a connection from the pool within 5.000 seconds (waited 5.000 seconds); all pool...
~2. Slack::Client::InviteFailed: {"ok"=>false, "error"=>"token_revoked"}~
~3. ActiveJob::DeserializationError: Error while trying to deserialize arguments: FATAL:  database

[2018-08-29 15:56] wimo7083 opened #389 "Bug: leader email job"
# Bug Report
## What is the current behavior?
Currently there's issues with how sidekiq is connecting to the postgres instance. It's verified that:
`app/jobs/send_email_to_leaders_job.rb`
is causing:
ActiveRecord::NoDatabaseError: FATAL:  database "opcode-postgres" does not exist

due to not finding the database, but other database queries work.

## What is the expected behavior?
This is a functio

[2018-08-29 15:59] wimo7083 opened #390 "Bug: Fix slack token"
# Bug Report
## What is the current behavior?
We are failing to send slack invites, and this is being done manually. This is spamming monitoring with an except on every user signup.

## What is the expected behavior?
User gets invited.

We need to get a new [admin legacy token](https://api.slack.com/custom-integrations/legacy-tokens) and install into environment variables. This token needs to only

[2018-08-30 02:17] #390 closed

[2018-08-31 17:57] wimo7083 commented on #383
After playing with sentry here's what I think.
1. Connect sentry and github so that any errors will have the commits tied to them
2. Tie the build id of sentry, travis and github, and the server again so we can have the correct release ID

[2018-09-06 15:43] wimo7083 commented on #388
Two core issues were determined related to sidekiq/ redis queue/ background jobs.
1. slack api problems
2. database problems

### Slack API Root Cause
The root cause of the slack api problems was caused by disabling a slack application on the workspace.

This happened during a great idea (but little hasty) of mine to clean up all the random slack applicatons on the workspace. One of the applicatio

[2018-09-06 15:43] #388 closed

[2018-09-06 15:47] AshTemp commented on #388
👍

[2018-09-12 15:57] wimo7083 opened #395 "Bug: Api::V1::CodeSchoolsController#index is slow"
# Bug Report
## What is the current behavior?
![image](https://user-images.githubusercontent.com/10781353/45436900-108c7400-b671-11e8-859f-7121d938fbc3.png)

https://oss.skylight.io/app/applications/0iQU6bEW8ha1/recent/6h/endpoints

This route is is not our slowest route, but the slower routes are lower impact. This route is used often and appears to be related to repeated sql queries of the form:

[2018-09-14 04:54] wimo7083 opened #397 "Feature: Modify DB schema"
# Collecting housing information for code schools.
## Why is this feature being added?

We are currently collecting information on code school housing. We would like to be able to store this in our DB so that FE can render this content.
## What should your feature do?

Include with_housing in the location table, make sure this is send when a code school request occurs. And when performing migratio

[2018-09-14 05:59] kylemh commented on #397
Changed variable name 🙃

[2018-09-14 20:35] wimo7083 commented on #278
Looks like having a variety of options is a good choice.
1. AWS virtual machine
2. Docker
3. Hybrid docker/ native
4. Completely native.

I understand that docker is daunting for many people, but I feel that it adds so much easy into the process (don't have to modify hosts, don't have to install postgres) but it does add some pain.

A hybrid setup would allow easier debugging, and allow abstractin

[2018-09-14 20:37] wimo7083 commented on #376
Here's three options
1. Manually remove scholarships
2. Filter out at the query level
3. configure the whenever gem to daily remove expired scholarships with a rake task

If a PR contains either the 2nd or 3rd would we consider this a valid acceptance criteria?

[2018-09-14 20:39] wimo7083 commented on #381
I submitted a list to Matthew of the variables I think are important, his response was
Matthew: `what will the application do without an appropriate variable in place?`

This is on my list to do this weekend, so we can unblock staging.

[2018-09-15 01:50] wimo7083 commented on #381
At first we don't want to worry about:
1. Emails (so just not send them)
2. The various rake tasks that aren't running (github, meetup)
3. Slack connections that are disconnected
4. Performance monitoring but that would be nice to have in the future for staging

Per @kylemh these items are important:
`I need an environment with an API so that I can simply point to staging when in local development

[2018-09-15 16:06] aaron-suarez commented on #374
I have confirmed that running `make setup` consistently adds and extra line to `db/schema.rb` and adds an untracked file called `test/cassettes/user_test/military_status_accepts_valid_states.yml`. I'm on master 8fbb035f91d324b9d15d97977fa95bd551bf9d07

[2018-09-15 22:16] wimo7083 commented on #395
This is partially addressed in this PR: https://github.com/OperationCode/operationcode_backend/pull/396 by turning the N+1 query into a single query.

@robbkidd is currently working on a way to make serialization faster.

[2018-09-16 16:03] #382 closed

[2018-09-18 17:34] wimo7083 opened #405 "Sidekiq monitoring"
# Add to dashboard sidekiq (job queue) monitoring
## Why is this feature being added?
Without getting into the technical details, setting up kubectl, there's not an easy way to monitor sidekiq jobs.

Our recent job queue issue happened because we had a billion retries, and we had no idea that jobs were backing up. This would give a data point to the health of the queue.

One solution: https://gith

[2018-09-19 23:12] wimo7083 opened #406 "Post to Slackbot to invite users."
# Get pybot to invite users in a non-generic way
## Why is this feature being added?
The purpose of this is to leverage currently existing slack software so that when a new user signs up for the website we can use our `pybot` or `community management` tools for:
1. Customize user slack invitation messages
2. Auto enroll is slack channels based on user interests
3. Use the resource api (in progress

[2018-09-20 20:40] robbkidd commented on #405
Related suggestion: migrate `ActiveJob` classes to be full-fledged `Sidekiq::Worker` classes to take full advantage of the Sidekiq Web dashboard. Otherwise details in the web UI about the current or past state of jobs is minimal. The necessary changes would not be too invasive and would result in more control over how jobs get queued, how many retries a job gets, and possibly clearer testing. For

[2018-09-20 20:41] robbkidd commented on #395
Any recent data from production on how long this backend API endpoint is taking with the database query portion optimized?

[2018-09-20 21:08] wimo7083 commented on #395
It's looking much better:
![image](https://user-images.githubusercontent.com/10781353/45847001-b16cd600-bce6-11e8-99f4-297ef28ad2e5.png)

https://oss.skylight.io/app/applications/0iQU6bEW8ha1/recent/6h/endpoints/Api::V1::CodeSchoolsController%23index?responseType=text

Skylight doesn't keep results for too long so sometimes routes don't show up. These are the current slow routes:
![image](https://

[2018-09-20 22:11] robbkidd commented on #405
The difference in the dashboard turns out to be small. Info for Sidekiq::Workers is less noisy because it doesn't talk about ActiveJob global IDs or ActiveJob::Deserialization errors wrapping the real error.

### Sidekiq Web - Retries for `ActiveJob` jobs

![sidekiq with activejob](https://user-images.githubusercontent.com/517302/45849484-1ed93080-bd00-11e8-9ba0-f819aa45c4ce.png)

### Sidekiq Web

[2018-09-25 04:08] wimo7083 opened #408 "Bug: Stop verifying ID.Me for scholarship applications."
# Bug Report
## What is the current behavior?
BE returns an error when an applicant wants to fill out a scholarship but they aren't verified.

## What is the expected behavior?
Per leadership and issues with ID.me we don't want to use this anymore.

[2018-09-25 04:11] #374 closed

[2018-09-30 00:29] #408 closed

[2018-10-01 13:39] desnudopenguino commented on #379
Beyond being an annoyance, this could be a security issue if someone's email is compromised and an old password reset email is available. My initial thoughts are to correct whatever issue is preventing the newest reset link from working, setting an expiration on the link so that after x time, it won't work anymore, and setting older reset links as invalid once a new one is requested. I don't see t

[2018-10-01 14:14] robbkidd commented on #379
I agree with these.

This seems good, but I wonder about the consequences.

[2018-10-01 14:17] AshTemp commented on #379
So this works for now, but we still need to eventually fix the
underlying issue of the link not working the first time someone clicks it.

On Mon, Oct 1, 2018 at 10:14 AM Robb Kidd <notifications@github.com> wrote:

[2018-10-01 14:52] wimo7083 commented on #379
Looks like we try to be configured to 6 hours.

https://github.com/OperationCode/operationcode_backend/blob/5df843a43619738df7900969b59c6edb009966bd/config/initializers/devise.rb#L206

https://secure-web.cisco.com/REALLY_LONG_UNIQUE_STRING_UNSURE_IFAUTH/https%3A%2F%2Foperationcode.org%2Freset_password%3Freset_password_token%$Some_token

For acceptance criteria:
1. Create documentation to understan

[2018-10-01 14:54] wimo7083 commented on #406
Blocked by Slack Integration tasks.

[2018-10-01 15:12] wimo7083 commented on #356
Per day you'd want
1. Number of users who logged into website
2. Number of users who logged into slack
3. Number of users who did not log into slack
4. Number of users who signed up for website
5. Number of users who signed up for slack.

1. [first one](https://github.com/OperationCode/operationcode_backend/blob/a16c4b75263947c2e48d43b0553fae9f95cf2756/db/schema.rb#L256) but we only retain 2 signi

[2018-10-01 15:16] wimo7083 commented on #379
Placholder assigning for @desnudopenguino.

[2018-10-01 15:17] wimo7083 commented on #383
Okay so sentry is actually working well. I think now with the addition of staging, we need to prioritize targetting environment. Currently the `api.staging....` is showing up on sentry as production.

[2018-10-01 15:27] wimo7083 commented on #405
assigning to myself for @robbkidd

[2018-10-01 15:28] wimo7083 commented on #381
Closing this as the values have been given to @nellshamrell  and the work is in place to modify infra repo.

[2018-10-01 15:28] #381 closed

[2018-10-01 15:31] wimo7083 commented on #395
Changing title and purpose.

[2018-10-01 15:33] desnudopenguino commented on #379
@wimo7083 What sort of documentation do you want? Technical back-end processing, or documentation for the end user for the process (or both?). What is the FE?

@robbkidd Are you on board for criterion 4 above? I've seen many sites with the same functionality. The goal is to allow one point of entry at a time for a user to reset their password. The worst consequence would be if the email message wa

[2018-10-01 15:40] wimo7083 commented on #379
FE = frontend, which is our react repo sending requests for the password change.

After you figure out how this all works, I want to be able to have something that if you were to lose internet for a month I'd want to be able to tell:
1. What is sending the emails
2. What is required for a valid password request
3. How long is a password request valid for
4. How can password requests get cancelled

[2018-10-01 15:48] desnudopenguino commented on #379
Gotcha. Do we have a documentation location where I post that info, or should I include it here (at least initially)? I should be able to start investigating later today or tomorrow.

[2018-10-01 15:50] wimo7083 commented on #379
I think something in here: https://github.com/OperationCode/operationcode_backend/tree/master/docs would be good.

If you can structure the code in a way that you don't need too much documentation that might be better. I don't want stale comments misleading people. But a problem we face is lots of new programmers contributing and needing _additional_ documentation.

[2018-10-01 16:28] wimo7083 opened #411 "Document the overall application structure"
# Feature
## Why is this feature being added?
When working on the application the structure and flow is super important to know. We want to be able to easily read the code and using documentation understand what the major areas are.

## What should your feature do?
For this first step, I want to document the various major parts that need to be documented.

EX:
1. routes.rb
2. models
3. db schema
4

[2018-10-01 17:51] wimo7083 commented on #411
Assigning myself as placholder, thanks @donquxiote.

[2018-10-01 17:53] wimo7083 commented on #365
This is available, @leenyburger did most of the work and if you want to finish up her efforts please see the following pr:
https://github.com/OperationCode/operationcode_backend/pull/366

[2018-10-01 18:42] wimo7083 commented on #376
Placeholder for @colto

[2018-10-01 20:36] BRIMIL01 commented on #163
Since the project already uses sidekiq would it be better to use something like https://github.com/moove-it/sidekiq-scheduler?

[2018-10-01 20:54] diegotoral commented on #395
Is there anything left in this issue? Maybe I can help.

[2018-10-01 21:07] wimo7083 commented on #395
I left this open but forgot to update the information.

This chart:
https://user-images.githubusercontent.com/10781353/45847001-b16cd600-bce6-11e8-99f4-297ef28ad2e5.png

That while we are a little bit faster, we are using most of our time serializing the query results. If you'd like to work on faster serializing you're more than welcome to.

[2018-10-01 21:27] diegotoral commented on #395
Awesome! I will certainly give it a try. Thanks!

I'll dive into the code a little and try to figure out solutions.

[2018-10-01 21:48] robbkidd commented on #163
I agree with using more Sidekiq. I've had recent good experience with [sidekiq-cron](https://github.com/ondrejbartas/sidekiq-cron) and recommend it.

[2018-10-02 18:28] wimo7083 commented on #397
I'm sorry @emestabillo I goofed and didn't reserve this.

[2018-10-02 18:31] emestabillo commented on #397
No problem!

[2018-10-03 00:58] BRIMIL01 commented on #87
I can grab this issue. I assume this would only augment existing data and not overwrite anything correct? I also assume https://github.com/OperationCode/operationcode_backend/issues/163 would be ideal to have done prior to this so the job can get scheduled.

[2018-10-03 01:01] BRIMIL01 commented on #163
I can take this and add https://github.com/ondrejbartas/sidekiq-cron support if that is aligned with how we want to manage jobs in backend.

[2018-10-03 01:05] wimo7083 commented on #87
You can work on this issue without 163. We are discussing whether to use sidkiq_cron or sidekiq_** and I think that if you go about this using a Sidekiq::Worker class similar to PR #410  you won't have to worry about the random issues that PR has.

Which would you rather work on first?

[2018-10-03 01:07] BRIMIL01 commented on #87
I'll do this one first and implement it as a sidekiq worker since that seems to be aligned with the future state of scheduled jobs.

[2018-10-03 01:10] wimo7083 commented on #87
Awesome thank you! I'll assign myself as a placeholder.

[2018-10-04 20:02] operationcode-pybot opened #417 "New Code School Request: First Step Coding"
Name: First Step Coding
url: https://www.firststepcoding.com/
full_time: False
hardware_included: False
has_online: True
online_only: False
va_accepted: False
mooc: False
with_housing: False
address1: 535 Mission St
address2:
city: San Francisco
state: CA
country: US
zip: 94105

rep name: Calli Rothberg
rep email: hello@firststepcoding.com
logo:
 ![school-logo](http://operationcode-pyback.us-east-

[2018-10-05 17:02] #405 closed

[2018-10-05 21:28] #278 closed

[2018-10-06 00:18] #87 closed

[2018-10-06 00:50] wimo7083 opened #423 "Mailer test occasionally fails."
# Bug Report
## What is the current behavior?
[code]

## What is the expected behavior?
When I run tests failure is not randomized.

[2018-10-06 00:54] wimo7083 commented on #163
Assigning myself as placeholder for you. :)

[2018-10-06 01:19] BRIMIL01 commented on #423
Looks like the username is not getting escaped in the expected value.

[2018-10-06 02:31] #423 closed

[2018-10-06 14:35] donquxiote commented on #411
Wanted to check in and make sure I'm on the right track for what y'all are looking for. This is a basic diagram of the models I generated with rails-erd. There's a few options to play around with so it can be a lot cleaner. If y'all want I can include that gem in my pr so y'all can generate these easily in the future too.

[file_name.pdf](https://github.com/OperationCode/operationcode_backend/file

[2018-10-09 02:33] diegotoral commented on #395
I have a few ideas on how make serialization a bit faster:

1. move to a faster json parser/serializer like `oj`; or
2. migrate from active model serializers to the fatest Netflix fast_jsonapi

What you think? Any better idea?

[2018-10-09 02:50] BRIMIL01 commented on #395
Maybe try both and benchmark them to see if one solution is better than the other?

[2018-10-09 14:07] operationcode-pybot opened #428 "New Code School Request: Metis"
Name: Metis
url: www.thisismetis.com
full_time: True
hardware_included: False
has_online: False
online_only: False
va_accepted: True
mooc: False
with_housing: False
address1: 79 Madison Ave.
address2: 8th FL
city: New York
state: New York
country: US
zip: 10016

rep name: Leah Nicolai Higgins
rep email: leah@thisismetis.com
logo:
 ![school-logo](http://operationcode-pyback.us-east-1.elasticbeansta

[2018-10-09 16:55] wimo7083 commented on #411
This is really awesome and going to be helpful.

Would you mind going over how you created this to see if we can create a rake task to auto generate (and keep this up to date)?

I think keeping track of the data model is very helpful.

I would also like to incorporate more ruby/ rails specific knowledge into documentation so that someone new to the rails framework would understand things such as:

[2018-10-10 04:13] #163 closed

[2018-10-10 05:01] #376 closed

[2018-10-10 05:05] wimo7083 commented on #397
@kylemh this is basically done, we just need to figure out how to successfully do a database migration on production.

[2018-10-10 05:06] wimo7083 commented on #365
This is basically done, just waiting to figure out how to do prod db migrations.

[2018-10-10 05:41] wimo7083 commented on #428
This is done:
![image](https://user-images.githubusercontent.com/10781353/46715362-e355c600-cc1c-11e8-89ce-1517a5f74ccf.png)

[2018-10-10 05:41] #428 closed

[2018-10-10 05:42] wimo7083 commented on #417
This is done:
![image](https://user-images.githubusercontent.com/10781353/46715375-f1a3e200-cc1c-11e8-98ad-68683676c4df.png)

[2018-10-10 05:42] #417 closed

[2018-10-10 15:55] wimo7083 opened #429 "When merging to production perform db migrate"
# Feature automatic db migration
## Why is this feature being added?
We want to be able to perform db migrations without having to use a rails console and do things automatically.

## What should your feature do?
1. Incorporate the migrate task into the prod build step.
2. Include a new unit test that uses a default state prior to the migration and then performs a migration to the next (prefer onl

[2018-10-10 15:57] wimo7083 commented on #395
Here's two more options:
3. Cache results
4. Do 1 or 2 and cache results.

Code schools only change 1-2 times a month, but we want to do things right before we use tricks.

[2018-10-10 15:59] robbkidd commented on #395
There are only two hard things in Computer Science: cache invalidation, naming things, and off-by-one errors.

[2018-10-13 01:14] jdollar commented on #319
Hey @wimo7083 is it cool to pick up this issue?

Had a couple questions based on the original description:

- Is there an example of a service class in the current codebase? Is it just a controller out there or are there specific service classes?
- For the "failed for find user" scenarios, what are the controlling endpoints? Are you guys just looking for the action to call out to the slack api to

[2018-10-14 03:31] FreddosaurusRex commented on #372
hi!  was just curious what the size of your data is, and whether you would want an automated report to run weekly/monthly or just a more detailed understanding of what you have now?

I haven't worked with ruby yet, but i work in the health care sector doing big data analytics/engineering (i used to be in the Air Force) and would be interested in helping out with this. I think this organization has